<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
            
            <div class="column gap">
        <h3 class="brn-title">Blockchain Manager</h3>
        <p class="brn-text">
            This comprehensive agent is designed to revolutionize the NFT experience. It seamlessly integrates the capabilities of multiple specialized agents.</p>
            </div>
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Multimedia Playback: Enables users to enjoy a rich multimedia experience by playing audio, visual, and video NFTs.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
                Minting Simplified: Allows effortless creation and distribution of NFTs, eliminating the complexities of cryptocurrency and crypto wallets.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Instant Creation: Facilitates real-time crafting of NFTs from a phone or PC, ensuring that even those new to the NFT world can create and launch their tokens in under a minute.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="img-settings" src="/assets/img/image1.svg">
        </div>
        
            </div></div>
    
    </section>
    
    <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
