<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
            
            <div class="column gap">
        <h3 class="brn-title">AI PersonaPen</h3>
        <p class="brn-text">
            Crafting Connections Tailored to You.
Transform user profiles into compelling, personalized outreach letters seamlessly.</p>
            </div>
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Deep Personalization: Understands user profiles to craft messages that resonate personally, increasing engagement and connection rates..</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
                Streamlined Outreach: Automated yet authentic letter creation that feels handcrafted, saving you time without compromising on the personal touch.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 Streamlined Outreach: Automated yet authentic letter creation that feels handcrafted, saving you time without compromising on the personal touch.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="agents-images">
            <img class="img-settings agents-images" src="/assets/img/bulb.jpg">
        </div>
        
            </div></div>
    
    </section>
    
    <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
