<div class="wrapper">
<div class="scaling-breaker">
    <app-navigation-menu></app-navigation-menu>
     
    <div class="container">
            <div class="onboarding-header burger-menu-mob brn-text-position mob-text-position">
        <div class="brn-header-info column gap mob-text">
        
        <h3 class="brn-subtitle mob-title-20" style="color: #B6FFFA;">BRNZ.AI</h3>
        
        <h1 class="brn-header-subtitle mob-title-40">Scaling Blockchains</h1>
            </div>
            </div>
    </div>
</div>
    
    <section class="container first-scaling-blockchains-container">
     <h3 class="brn-title-48 brn-text-position">Problem</h3>
<div class="row gap mob-settings">
    
    <div class="scaling-card">
    <img src="/assets/img/r1.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Challenges faced by new blockchains</h3>
        
         <p class="brn-title-18">
        Due to technical barriers and a need for more familiarity with the crypto space, new blockchains often need help with user acquisition and retention.</p>
        </div>
    </div>
    
    <div class="scaling-card">
    <img src="/assets/img/r2.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Buying tokens and minting NFTs</h3>
        
         <p class="brn-title-18">
        Many potential users are deterred by the need for a crypto wallet and the perceived complexity of buying tokens and minting NFTs.</p>
        </div>
    </div>
    
    <div class="scaling-card">
    <img src="/assets/img/r3.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Social Media Restrictions and Limitations</h3>
        
         <p class="brn-title-18">
        Current policies on many social media platforms restrict direct advertising of cryptocurrencies and certain types of NFTs.</p>
        </div>
    </div>
    
        </div>
        
        
    </section>
    
    
    <section class="container first-scaling-blockchains-container">
    <h3 class="brn-title-48 brn-text-position">Solution</h3>
        <div class="row gap mob-settings">
            
        <div class="scaling-main">
            
            <img src="/assets/img/u1.svg" class=""> 
            
            <div class="column gap">    
            <h3 class="brn-title-700">Brainz</h3>
        
         <p class="brn-title-18">
          We designed our multi-agent system to streamline operations and enhance the user experience for Web3 startups. It addresses the key challenges new blockchains face and can potentially revolutionize the blockchain industry.</p>
            </div>
            </div>
            
              <div class="scaling-main">
            
            <img src="/assets/img/u2.svg" class=""> 
            
                <div class="column gap">
            <h3 class="brn-title-700">Intelligent Agents</h3>
        
         <p class="brn-title-18">
         Brains' agents simplify buying tokens and NFTs, facilitate sales on social media, support customer service, gather user feedback, and foster community and loyalty.</p>
                  </div>
            </div>
            
              
        
            
            
            
        </div>
        
    </section>

    
    <div class="second-container"><div class="breaker"></div></div>
    
    <section class="container first-scaling-blockchains-container">
    <div class="zero-row">
        <h3 class="brn-title-48 mob-text-position">Unique Value Proposition</h3>
        
        <div class="row gap">
            
        <div class="zero-block">
            <img src="/assets/img/k1.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Simplified Buying Process</h3>
        
         <p class="brn-title-18">
        Brains simplifies buying tokens and NFTs, removing technical barriers and making blockchain accessible to a wider range of users, including those without a crypto wallet.</p>
        </div>
            
            </div>
            
            <div class="zero-block">
            <img src="/assets/img/k2.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Social Media Integration</h3>
        
         <p class="brn-title-18">
        Brains enables the sale of tokens and NFTs directly on popular social media platforms, like Instagram, significantly expanding the potential user base.</p>
        </div>
            
            </div>
            
            <div class="zero-block">
            <img src="/assets/img/k3.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Customer Support</h3>
        
         <p class="brn-title-18">
        Brains provides a Sales Automation and Customer Support Agent that works tirelessly, 24/7, to assist your customers with their queries and ensure a smooth buying experience.</p>
        </div>
            
            </div>
            
            
            <div class="zero-block">
            <img src="/assets/img/k4.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Customer Satisfaction Measurement</h3>
        
         <p class="brn-title-18">
        Brains employs a Customer Satisfaction Measurement and Improvement Agent to gather valuable insights, analyze feedback, and identify areas for enhancement, ensuring continuous user experience improvement.</p>
        </div>
            
            </div>
            
            <div class="zero-block">
            <img src="/assets/img/k5.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Community Building</h3>
        
         <p class="brn-title-18">
        Through our Token-based Marketing Agent, Brains facilitates token-based campaigns that allow users to engage with exclusive content, experiences, or merchandise, fostering a deeper sense of community and loyalty.</p>
        </div>
            
            </div>
            
            
            <div class="zero-block">
            <img src="/assets/img/k6.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Integrated Affiliate and Loyalty System</h3>
        
         <p class="brn-title-18">
        Brains incentivize user growth and engagement by offering an integrated affiliate and loyalty system, helping to circumvent advertising restrictions on social media platforms.</p>
        </div>
            
            </div>
            
        
        </div>
        
        </div>
    
        
    
    </section>
    
    <div class="second-container"><div class="breaker"></div></div>
    
    
    <section class="container first-scaling-blockchains-container">
    <h3 class="brn-title-48 brn-text-position mob-text-position">Go-to-Market Strategy</h3>
        
        <div class="scaling-cards-scroll gap">
        <div class="scaling-card-scroll">
    <img src="/assets/img/r4.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Affiliate and Loyalty System</h3>
        
         <p class="brn-title-18">
        Promote tokens and NFTs through an innovative affiliate and loyalty system, incentivizing users to refer others and stay engaged.</p>
        </div>
    </div>
        
        <div class="scaling-card-scroll">
    <img src="/assets/img/r5.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Continuous Improvement</h3>
        
         <p class="brn-title-18">
        We are committed to continuous improvement based on user feedback from our Customer Satisfaction Measurement and Improvement Agent.</p>
        </div>
    </div>
        
        <div class="scaling-card-scroll">
    <img src="/assets/img/r6.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Community Building</h3>
        
         <p class="brn-title-18">
        Leverage the power of social media platforms to Foster a sense of community and loyalty among users using our Token-based Marketing Agent, enhancing user engagement and retention.</p>
        </div>
    </div>
        
        <div class="scaling-card-scroll">
    <img src="/assets/img/r7.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Influencer Partnerships</h3>
        
         <p class="brn-title-18">
        Partner with influencers for affiliate marketing to attract new users.</p>
        </div>
    </div>
        
        <div class="scaling-card-scroll">
    <img src="/assets/img/r8.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Ease of Access</h3>
        
         <p class="brn-title-18">
        Simplify the purchase and minting process for tokens and NFTs, making the blockchain accessible to users without a crypto wallet.</p>
        </div>
    </div>
        
        <div class="scaling-card-scroll">
    <img src="/assets/img/r9.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Social Media Integration</h3>
        
         <p class="brn-title-18">
        Leverage the power of social media platforms for direct sales of tokens and NFTs.</p>
        </div>
    </div>
        </div>
    
    </section>
    
    
     <div class="second-container"><div class="breaker"></div></div>
    
    
    <section class="container container-for-nav-items">
    <h3 class="brn-title-48 brn-text-position mob-text-position">Business Model</h3>
    
        <div class="row scaling-blockchains-gap-position">
    <div class="startup-main">
            <img src="/assets/img/g1.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Subscription-Based Model</h3>
        
            <p class="brn-title-18">
        Brains operates on a subscription model, with blockchain startups paying a regular fee for full access to our intelligent agents.</p>
            </div>
            </div>    
        
        
        <div class="startup-main">
            <img src="/assets/img/g2.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Transaction Fees</h3>
        
            <p class="brn-title-18">
        We charge a percentage-based fee on all transactions made through our system, including NFT purchases and sales, providing a steady revenue stream.</p>
            </div>
            </div>
        
        
        <div class="startup-main">
            <img src="/assets/img/g3.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Premium Features</h3>
        
            <p class="brn-title-18">
        Offering users premium features and services, which enhance their experience and engagement with our platform, generates additional revenue.</p>
            </div>
            </div>
        
        
        <div class="startup-main">
            <img src="/assets/img/g4.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Affiliate Marketing</h3>
        
            <p class="brn-title-18">
        By partnering with other businesses, we can earn a commission for any traffic or sales brought by our referrals, expanding our revenue sources.</p>
            </div>
            </div>
        
        
        <div class="startup-main">
            <img src="/assets/img/g5.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
            Partnerships</h3>
        
            <p class="brn-title-18">
        Collaborating with social media platforms and other tech companies can open new monetization opportunities, contributing to our overall revenue.</p>
            </div>
            </div>
        
        
        <div class="startup-main">
            <img src="/assets/img/g6.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Scalability</h3>
        
            <p class="brn-title-18">
        Our business model is designed to scale as the user base grows. As more users join the blockchain and engage with our platform, the user base and revenue will increase.</p>
            </div>
            </div>
        </div>
    </section>
    
    <div class="third-container">
    <div class="breaker11">
    <section class="container container-for-nav-items">
    <div class="row gap scaling-items">
         <div class="scaling-wrap gap">
            <h3 class="mob-text-position brn-title-40">
            Market Analysis</h3>
        
            <p class="brn-title-18">
        The global blockchain technology market was valued at $10.02 billion in 2022 and is expected to grow at a CAGR of 87.7% from 2023 to 2030. The NFT market worldwide is projected to grow by 18.55% (2023-2027), resulting in a market volume of US$3,162.00m in 2027. The social media advertising market is set to soar to an astounding $207.10 billion in 2023. The affiliate marketing industry is worth $17 billion in 2023.</p>
            </div>
        
        
        <div class="scaling-info-block">
            <img src="/assets/img/j1.svg" class="">
        <div class="column gap">
            <h3 class="brn-title-700">
             NFT Popularity</h3>
        
            <p class="brn-title-18">
        The growing popularity of NFTs and tokens suggests a large potential user base.</p>
            </div>
        </div>
        
        
        <div class="scaling-info-block">
            <img src="/assets/img/j2.svg" class="">
        <div class="column gap">
            <h3 class="brn-title-700">
             Competitive Advantage</h3>
        
            <p class="brn-title-18">
        Brains' unique features and comprehensive approach make it stand out in the competitive landscape of blockchain technologies.</p>
            </div>
        </div>
        
        </div>
        
    </section>
        </div></div>
    
    <section class="container">
    <div class="row gap">
        <div class="scaling-wrap gap">
            <h3 class=" mob-text-position brn-title-40">
            Financial Projections</h3>
        
            <p class="brn-title-18">
        These numbers show the vast potential of the market that Brains is entering. By leveraging the power of Brains’ multi-agent system, startups can seize a significant portion of this growing market.</p>
            </div>
        
        
        
    <div class="scaling-statistics">
        <div class="scaling-statistic">
         <div class="column gap">
            <h3 class="scaling-64-200">
            2023</h3>
        
            <p class="brn-title-700">
        $18.82 Billion</p>
            </div>
        
        
        </div>
        
        
        <div class="scaling-statistic">
         <div class="column gap">
            <h3 class="scaling-64-200">
            2024</h3>
        
            <p class="brn-title-700">
        $35.32 Billion</p>
            </div>
        
        
        </div>
        
        
        
        
        <div class="scaling-statistic">
         <div class="column gap">
            <h3 class="scaling-64-200">
           2025</h3>
        
            <p class="brn-title-700">
        $66.35 Billion</p>
            </div>
        
        
        </div>
        
        
        <div class="scaling-statistic">
         <div class="column gap">
            <h3 class="scaling-64-200">
            2026</h3>
        
            <p class="brn-title-700">
        $124.63 Billion</p>
            </div>
        
        
        </div>
        
        </div>    
        
        </div>
    </section>
    
    
    <div class="container container-for-settings"><app-footer></app-footer>
        
    </div></div>