<div class="wrapper">    
    <div class="services-for-breaker">
        <app-navigation-menu></app-navigation-menu>
        <section class="container">
<div class="column gap brn-text-position mob-text-position burger-menu-mob">

     <h3 class="brn-subtitle mob-title-20" style="color: #B6FFFA;">Introducing Brainz:</h3>
        
        <h1 class="brn-header-subtitle mob-title-40">Services we provide<br> for your Web 3.0 Project</h1>
        
        <p class="brn-header-text">
            The complete list of BTS (Build-Tokenize-Sell)</p>
    
</div> 
        </section>
    </div>

    
    <section class="container container-for-nav-items">
        <h3 class="brn-title-48 brn-text-position">Build</h3>
    <div class="row gap">
        
        <div class="service-card">
        <img src="/assets/img/c1.svg" class="">
            <div class="column gap">
        <h3 class="brn-title-700">UX / Design / Branding</h3>
        
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Application’s UI
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                  Brand KIT</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Logo
                </li>
            </ul>    
            </div>
        </div>
        
         <div class="service-card">
        <img src="/assets/img/c2.svg" class="">
             <div class="column gap">
        <h3 class="brn-title-700">Blockchain API</h3>
        
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Wallet coins / balance tracker
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 NFT tracker</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Token gated services
                </li>
                 </ul>    </div>
        
        </div>
        
         <div class="service-card">
        <img src="/assets/img/c3.svg" class="">
             <div class="column gap">
        <h3 class="brn-title-700">Multi-Device App</h3>
        
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Web application
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 Mobile application (iOS, Android)</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Desktop app (macOS, Windows)
                </li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Chatbot on Facebook, Instagram, Telegram, Skype, Viber, and others
                </li>
            </ul>    
             </div>
        </div>
        
         <div class="service-card">
        <img src="/assets/img/c4.svg" class="">
             <div class="column gap">
        <h3 class="brn-title-700">DevOps</h3>
        
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Server infrastructure setup administration
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                  DDos monitoring & protection</li>
               
            </ul>    
        
             </div></div>
        
        
        </div>
    
    </section>
    
    <section class="container container-for-nav-items">
    <h3 class="brn-title-48 brn-text-position">Tokenize</h3>
        <div class="row gap">
        
            
         <div class="service-card">
        <img src="/assets/img/c5.svg" class="">
             
             <div class="column gap">
        <h3 class="brn-title-700">Crypto Expertise</h3>
        
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Smart Contract development and integration with business logic
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                  OpenSea API integration for NFT selling on custom pages</li>
            
         <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                  Development of Minting pages and smart contracts for token sales</li>
            
         <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                  Blockchain-based audio/video streaming technologies with IPFS integration</li>
               
                 </ul>    </div>
        
        </div>
            
            <div class="">
            
                <div class="service-card row-card">
        <img src="/assets/img/c6.svg" class="">
                    <div class="column gap">
        <h3 class="brn-title-700">Cryptocurrency Development</h3>
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
             Custom Smart Contract
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Autotests</li>
                        </ul></div>
        </div>
                
                <div class="service-card">
        <img src="/assets/img/c6.svg" class="">
                    <div class="column gap">
        <h3 class="brn-title-700">Token Gated Tech</h3>
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Token-gated technologies for the building of NFT or token-based accessed services or communities in Discord/Telegram/Webpage and other channels
                </li>
                        </ul></div>
        </div>
            </div>
            
        <div class="service-large-card">
        <img src="/assets/img/c7.svg" class="">
            <div class="column gap">
        <h3 class="brn-title-700">NFT Development</h3>
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              NFT Generator
                </li>
            
            <ul class="service-list">
            <li class="service-item brn-header-text">Automated creation of huge NFT collections and upload to the marketplaces</li>
                
            <li class="service-item brn-header-text">Layer processing acc. Rarity and other properties</li>
                
            <li class="service-item brn-header-text">Development of Minting pages and smart contracts for token sales</li>
                
            <li class="service-item brn-header-text">  Blockchain-based audio/video streaming technologies with IPFS integration</li>
            </ul>
            
            
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Minting Page
                </li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Custom Frontend with OpenSea integration
                </li>
                </ul> </div>   
        </div>
            
        </div>
    
    
    </section>
    
    <section class="container container-for-nav-items">
    <h3 class="brn-title-48 brn-text-position">Sell</h3>
    <div class="service-footer-card">
        <div class="mob-footer">
        <img src="/assets/img/c5.svg" class="">
        <h3 class="brn-title-700">Token Sale</h3>
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Building and growing a community for crypto investors as preparing for the token sale process
                </li>
            
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Our unique project promotion approach will help you set up a community of potential investors ASAP.
                </li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
             You can use Deep Shopify or Bigcommerce integration to create your token store on the best marketplaces.
                </li>
            
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
             Integrated flexible marketplace for selling goods/tokens for crypto or credit card payment via web/mobile or chatbots on Facebook and Instagram
                </li>
            </ul>    
        </div>
        </div>
    </section>

</div>

<div class="container container-for-settings"><app-footer></app-footer></div>