<div class="wrapper">
<div class="startup-breaker">
    <app-navigation-menu></app-navigation-menu>

    <div class="container">
            <div class="onboarding-header burger-menu-mob brn-text-position mob-text-position">
        <div class="brn-header-info column gap mob-text">

        <h3 class="brn-subtitle mob-title-20" style="color: #B6FFFA;">All-Inclusive Startup Support Package</h3>

        <h1 class="brn-header-subtitle mob-title-40">
            One Price, Comprehensive Tech Solutions with Advanced Agents</h1>
            </div>
            </div>
    </div>
</div>

    <section class="container container-for-nav-items">
    <h3 class="brn-title-48 brn-text-position mob-text-position">
        Services Included in Your Monthly Package</h3>
    <div class="scaling-cards-scroll gap">
    <div class="scaling-card-scroll">
    <img src="/assets/img/o1.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Deployment of Open Source AI Applications</h3>

         <p class="brn-title-18">
        Tailor AI solutions to enhance operational efficiency and data-driven decision-making.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o2.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Custom Software Development</h3>

         <p class="brn-title-18">
        Receive software development services tailored to your startup's specific needs.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o3.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             UI/UX Design Services</h3>

         <p class="brn-title-18">
        Create intuitive and visually appealing user interfaces for enhanced user engagement.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o4.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             DevOps and CI/CD Integration</h3>

         <p class="brn-title-18">
        Streamline operations and ensure faster, more reliable product releases.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o5.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">Infrastructure Management
           </h3>

         <p class="brn-title-18">Optimize digital operations for scalability, security, and efficiency.
        </p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o6.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
             Application Hosting</h3>

         <p class="brn-title-18">
        High-performance hosting services for high availability and security compliance.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o7.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
           System and Application Monitoring</h3>

         <p class="brn-title-18">
        Comprehensive monitoring solutions to keep applications performing optimally.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o8.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            24/7 Technical Support</h3>

         <p class="brn-title-18">
        Round-the-clock assistance for immediate issue resolution.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o9.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
         Blockchain and Smart Contract Solutions</h3>

         <p class="brn-title-18">
        Develop decentralized applications and automate processes with blockchain technology.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o10.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
           NFT and Tokenization Strategy</h3>

         <p class="brn-title-18">
       Explore and implement NFT strategies for business innovation.</p>
        </div>
    </div>


        <div class="scaling-card-scroll">
    <img src="/assets/img/o11.svg" class="">
    <div class="column gap">
         <h3 class="brn-title-700">
            Token Sale and ICO/STO Support</h3>

         <p class="brn-title-18">
        Expert guidance and support for effective capital-raising strategies.</p>
        </div>
    </div>



        </div>

    </section>


    <div class="second-v-container"><div class="breaker"></div></div>


    <section class="container container-for-nav-items">

        <div class="startup-row">
        <div class="startup-column gap">
            <h3 class="brn-title-48 mob-text-position">Equity-Adjusted and Flexible Pricing</h3>

            <div class="startup-main">
            <img src="/assets/img/x1.svg" class="">
                <div class="column gap">
            <h3 class="brn-title-700">
             Adaptive Rates for Every Stage</h3>

            <p class="brn-title-18">
        Monthly fees are scaled to your startup's size and growth phase.</p>
                </div>
            </div>


             <div class="startup-main">
            <img src="/assets/img/x2.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Option for Equity Reduction</h3>

            <p class="brn-title-18">
        You can choose to lower your monthly cost in exchange for a minor equity share, aligning our long-term interests with your success.</p>
            </div>
            </div>

            </div>


     <div class="startup-column gap">
            <h3 class="brn-title-48  mob-text-position">Your Partner in Startup Excellence</h3>

            <div class="startup-main">
            <img src="/assets/img/x3.svg" class="">
                <div class="column gap">
            <h3 class="brn-title-700">
             Simplify Your Path to Success</h3>

            <p class="brn-title-18">
        One rate for a complete range of tech solutions, including our innovative Brainz agents.</p>
                </div>
            </div>


             <div class="startup-main">
            <img src="/assets/img/x4.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Growth-Focused Strategy</h3>

            <p class="brn-title-18">
        Dedicate your efforts to innovation and expansion while we cover your technical needs.</p>
            </div>
            </div>

         <div class="startup-main">
            <img src="/assets/img/x5.svg" class="">
                 <div class="column gap">
            <h3 class="brn-title-700">
             Partnership for Prosperity</h3>

            <p class="brn-title-18">
       More than just a service, Brainz is a committed partner in your entrepreneurial journey.</p>
            </div>
            </div>

            </div>


        </div>



    </section>

       <div class="second-v-container"><div class="breaker"></div></div>

    <section  class="container container-for-nav-items">
     <h3 class="brn-title-48 brn-text-position mob-text-position">Agents Integrated<br> into the Package</h3>

        <div class="scaling-cards-scroll gap">

<div class="popup scroll-popup" routerLink="/agents/sms-fire">
    <img class="" src="/assets/img/h1.svg">
    <div class="column gap">
    <p class="brn-title-700">SMS Fire</p>
    <p class="brn-title-18">Integrates SMS marketing with transactional capabilities, optimizing the sales journey.</p>
    </div>
    <a routerLink="/agents/sms-fire" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/social-media-seller">
    <img class="" src="/assets/img/h2.svg">
    <div class="column gap">
    <p class="brn-title-700">Social Media Seller</p>
    <p class="brn-title-18">Enables effective monetization of social media efforts, converting followers into paying customers.</p>
        </div>
    <a routerLink="/agents/social-media-seller" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/ai-datadialoger">
    <img class="" src="/assets/img/h3.svg">
        <div class="column gap">
    <p class="brn-title-700">AI DataDialoger</p>
    <p class="brn-title-18">Empowers your startup with conversational intelligence, turning complex data into clear, strategic insights.</p></div>

    <a routerLink="/agents/ai-datadialoger" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/ai-visionverse">
    <img class="" src="/assets/img/h4.svg">
    <div class="column gap">
    <p class="brn-title-700">AI VisionVerse</p>
    <p class="brn-title-18">Brings your startup's vision to life with engaging multimedia content, perfect for powerful pitches and marketing.</p></div>

    <a routerLink="/agents/ai-visionverse" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/ai-personapen">
    <img class="" src="/assets/img/h5.svg">
    <div class="column gap">
    <p class="brn-title-700">AI PersonaPen</p>
    <p class="brn-title-18">Develops personalized communication strategies, deepening your connection with audiences and building brand loyalty.</p></div>

    <a routerLink="/agents/ai-personapen" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/ai-buttler">
    <img class="" src="/assets/img/h6.svg">
    <div class="column gap">
    <p class="brn-title-700">AI Butler</p>
    <p class="brn-title-18">Ensures top-tier AI-powered customer support, maintaining a strong brand image and high customer satisfaction.</p></div>

    <a routerLink="/agents/ai-buttler" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/blockchain-manager">
    <img class="" src="/assets/img/h7.svg">
    <div class="column gap">
    <p class="brn-title-700">Blockchain Manager</p>
    <p class="brn-title-18">Offers advanced blockchain solutions for NFT innovation and secure digital transactions.</p>
        </div>
    <a routerLink="/agents/blockchain-manager" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/any-store">
    <img class="" src="/assets/img/h8.svg">
    <div class="column gap">
    <p class="brn-title-700">AnyStore</p>
    <p class="brn-title-18">Creates custom e-commerce platforms, streamlining sales and providing valuable consumer insights.</p></div>

    <a routerLink="/agents/any-store" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


    <div class="popup scroll-popup" routerLink="/agents/fan2Sell">
    <img class="" src="/assets/img/h9.svg">
    <div class="column gap">
    <p class="brn-title-700">Fan2Sell</p>
    <p class="brn-title-18">Drives growth through a community-powered affiliate system, enhancing organic market reach.</p></div>

    <a routerLink="/agents/fan2Sell" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


    <div class="popup scroll-popup" routerLink="/agents/fan2Scale">
    <img class="" src="/assets/img/h10.svg">
    <div class="column gap">
    <p class="brn-title-700">Fan2Scale</p>
    <p class="brn-title-18">Implements token-based loyalty programs, boosting engagement and reinforcing your value proposition.</p></div>

    <a routerLink="/agents/fan2Scale" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup scroll-popup" routerLink="/agents/custom-agent-development">
    <img class="" src="/assets/img/h11.svg">
    <div class="column gap">
    <p class="brn-title-700">Request Custom Agent Development</p>
    <p class="brn-title-18">Need a unique agent to address your specific business needs? We’ve got you covered.</p></div>
    <button routerLink="/contacts" class="popup-btn">Schedule a call</button>
    <a routerLink="/agents/custom-agent-development" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


</div>

    </section>

    <div class="second-v-container"><div class="breaker"></div></div>

    <section class="container container-for-nav-items">

    <div class="startup-row">
        <div class="startup-column gap">

            <div class="column gap">
            <h3 class="brn-title-48 mob-text-position">
             Comprehensive Service Coverage at One Monthly Flat Rate</h3>

            <p class="brn-title-18">
        Access a broad spectrum of services tailored to every facet of startup growth for a straightforward monthly flat rate, streamlining your journey and eliminating the need for multiple service providers.</p>
                </div>

        </div>

        <div class="startup-column gap">

            <div class="gap-40">
            <div class="column gap">
            <h3 class="brn-title-48  mob-text-position">
            Embrace the Ecosystem</h3>

            <p class="brn-title-18">
        Activate Your Startup's Full Potential with a Unified Pricing Model and Cutting-Edge AI Tools</p>


                </div>

            <button class="brn-btn"><a href="https://calendly.com/brnzai" class="href-link">Schedule a call</a></button>
            </div>

        </div>


        </div>
    </section>

    <div class="container container-for-settings"><app-footer></app-footer>
</div>
