.ambassador-breaker{
    background-image: url(/assets/img/breaker4.svg);
    height: 642px;
    align-items: center;
    background-size: cover;
    padding-top: 150px;

     @media all and (max-width: 768px){
        height: auto;
        background-size: auto;
        padding-bottom: 25px;
         padding-top: 0;
    }
    
}