<div class="accordion">
  <div class="accordion-column">
    <div class="accordion-item" (click)="toggleAccordion(1)" [ngClass]="{ 'active': isAccordionOpen(1) }">
      <div class="accordion-header" [@headerBackground]="isAccordionOpen(1) ? 'expanded' : 'collapsed'">
        <h3 class="brn-title-20">


            Are you in doubt if we can steal your idea?</h3>

        <div class="arrow" [@rotate]="isAccordionOpen(1) ? 'expanded' : 'collapsed'">
          <img src="/assets/img/carbon_add.svg" *ngIf="!isAccordionOpen(1)">
          <img src="/assets/img/carbon_add.svg" *ngIf="isAccordionOpen(1)">
        </div>
      </div>
      <div class="accordion-content" [@expand]="isAccordionOpen(1) ? 'expanded' : 'collapsed'">
          <div class="accordion-list">
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Everything secured under NDA
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                    An impeccable reputation for 15+ years</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                We provide our real partners with them to ask for a review.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                We can work only under your direction. You play the CEO role.</li>
            
            </ul>
          </div>
      </div>
    </div>

    <div class="accordion-item" (click)="toggleAccordion(2)" [ngClass]="{ 'active': isAccordionOpen(2) }">
      <div class="accordion-header" [@headerBackground]="isAccordionOpen(2) ? 'expanded' : 'collapsed'">
        <h3 class="brn-title-20">
            Need help to explain your idea?</h3>
        <div class="arrow" [@rotate]="isAccordionOpen(2) ? 'expanded' : 'collapsed'">
          <img src="/assets/img/carbon_add.svg" *ngIf="!isAccordionOpen(2)">
          <img src="/assets/img/carbon_add.svg" *ngIf="isAccordionOpen(2)">
        </div>
      </div>
      <div class="accordion-content" [@expand]="isAccordionOpen(2) ? 'expanded' : 'collapsed'">
          <div class="accordion-list">
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">

              

                We've listened to so many ideas that have already been launched as products.

                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                    We prove your idea together.</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                We prepare a clear and attractive pitch for your partners, colleagues, and investors.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                We prepare an effective Landing page.</li>
            
            </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="accordion-column">
    <div class="accordion-item" (click)="toggleAccordion(3)" [ngClass]="{ 'active': isAccordionOpen(3) }">
      <div class="accordion-header" [@headerBackground]="isAccordionOpen(3) ? 'expanded' : 'collapsed'">
       <h3 class="brn-title-20">
           You are not a well-known person, and you need marketing.</h3>
        <div class="arrow" [@rotate]="isAccordionOpen(3) ? 'expanded' : 'collapsed'">
          <img src="/assets/img/carbon_add.svg" *ngIf="!isAccordionOpen(3)">
          <img src="/assets/img/carbon_add.svg" *ngIf="isAccordionOpen(3)">
        </div>
      </div>
      <div class="accordion-content" [@expand]="isAccordionOpen(3) ? 'expanded' : 'collapsed'">
          <div class="accordion-list">
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               We represent your product in the USA and Europe. So the right people will find out about you.
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                    We generate the appropriate content regarding the informative demand of your targeted audience.</li>
               
            </ul>
          </div>
      </div>
    </div>

    <div class="accordion-item" (click)="toggleAccordion(4)" [ngClass]="{ 'active': isAccordionOpen(4) }">
      <div class="accordion-header" [@headerBackground]="isAccordionOpen(4) ? 'expanded' : 'collapsed'">
        <h3 class="brn-title-20">
            Are you scared about the lawyer's procedures?</h3>
        <div class="arrow" [@rotate]="isAccordionOpen(4) ? 'expanded' : 'collapsed'">
          <img src="/assets/img/carbon_add.svg" *ngIf="!isAccordionOpen(4)">
        <img src="/assets/img/carbon_add.svg" *ngIf="isAccordionOpen(4)">
        </div>
      </div>
      <div class="accordion-content" [@expand]="isAccordionOpen(4) ? 'expanded' : 'collapsed'">
        <div class="accordion-list">
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               You do not need too many tedious and complicated contracts and procedures.
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                You can have a simple and transparent agreement.</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                You'll see the first working steps before you can expect it.</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
