
<div class="wrapper">
    <section class="header-logo">
    <!--<img src="/assets/img/brnz-svg-logo.svg" class="">-->
    </section>
    
    
    
    <section class="container padding-10">
    <div class="header">
    <img src="/assets/img/backpanel.png" class="header-panel">    
    
    <img src="/assets/img/mobbackpanel.png" class="mob-header-panel">    
        
    <img src="/assets/img/alex-galert.svg" class="alex-icon">
        
    <div class="header-block">
    <div class="header-column row-ondesign gap-20">   
    <div class="column gap-20 alex-info">
    <div class="column gap-5">
    <h2 class="font-size-36">Alex Galert<img src="/assets/img/solar_shield-check-outline.svg" style="padding: 0 10px 0 15px; display: inline-flex;"><img src="/assets/img/mdi_linkedin2.svg" style="display: inline-flex;"></h2>
    <p class="font-size-16-v2">7328 followers, 6886 connections</p>
        </div>
    <div class="voice-item">
    <img src="/assets/img/solar_lightbulb-outline.svg" class="">
    <h3 class="font-size-18-yellow">
    Top Artificial Intelligence (AI) Voice</h3>  
    </div>
        </div>
        <div class="column gap-10 hero-info">
        <h2 class="font-size-32">Hero2Winner<br> Model</h2>
        <p class="font-size-18-black" style="color: rgba(255, 255, 255, 0.6);">
        Brainz is looking for industry experts, which have spent >10K hours in their area of expertise and want to scale their knowhow by 100x</p>
        </div>
        </div>
    </div>    
          
        <div class="mob-header-block">
    <div class="header-column gap-20">   
    <div class="column gap-20 alex-info">
    <div class="column gap-5">
    <h2 class="font-size-36">Alex<br> Galert<img src="/assets/img/solar_shield-check-outline.svg" style="padding: 0 10px 0 15px; display: inline-flex;"><img src="/assets/img/mdi_linkedin2.svg" style="display: inline-flex;"></h2>
    <p class="font-size-16-v2">7328 followers,<br> 6886 connections</p>
        </div>
    <div class="voice-item">
    <img src="/assets/img/solar_lightbulb-outline.svg" class="">
    <h3 class="font-size-18-yellow">
    Top Artificial Intelligence (AI) Voice</h3>  
    </div>
        </div>
        <div class="column gap-10 hero-info">
        <h2 class="font-size-32">Hero2Winner<br> Model</h2>
        <p class="font-size-18-black" style="color: rgba(255, 255, 255, 0.6);">
        Brainz is looking for industry experts, which have spent >10K hours in their area of expertise and want to scale their knowhow by 100x</p>
        </div>
        </div>
    </div>      
    </div>
</section>   
    
    
    <section class="container section-padding">
    <div class="block-ondesign">
    <img src="/assets/img/solar_code-square-line-duotone.svg">
    
    <div class="column gap-5">
    <h2 class="font-size-32-black">Build your $20M Exit<br> in 24 Months</h2>   
   
    </div>    
        
    <div class="social-media-links">
    <h3 class="font-size-16">start now</h3>
    <div class="social-media-btns">
      <a href="https://wa.me/+491711254074" target="_blank">
  <img src="/assets/img/whatsapplogo.png" style="cursor: pointer;">
</a>

 
        </div> 
        </div>
        </div>
    </section>
    
    <section class="container section-padding">
    <h2 class="font-size-32 padding-20" style="">Latest Works</h2>
    
    <div class="row-ondesign gap-10 project-blocks">
    
    <a href="https://www.picklezone.com/" target="_blank" class="project-block">
    
    <div class="project-preview">
    <p class="font-size-14-v2" style="color: #fff; text-transform: capitalize;">Picklezone</p>
    <p class="font-size-12">mobile app</p>
    </div>    
    </a>


<a href="https://boomerangdeals.com/" target="_blank" class="project-block">
    <div class="project-preview">
    <p class="font-size-14-v2" style="color: #fff; text-transform: capitalize;">Boomerang</p>
    <p class="font-size-12">shopify plugin</p>
    </div>  
    </a>
        
    <a href="https://thechamp.ai/" target="_blank" class="project-block">
    <div class="project-preview">
    <p class="font-size-14-v2" style="color: #fff; text-transform: capitalize;">AI Champ</p>
    <p class="font-size-12">web app</p>
    </div>  
    </a>
    </div>
    </section>
    
    <section class="container section-padding">
    <h2 class="font-size-32 padding-20">Start Building Your Startup In 3 Steps</h2>
        
    <div class="row-ondesign gap-10 startup-blocks">
        
        <div class="startup-block">
        <div class="column gap-5">
        <h3 class="font-size-14-v2">Step 01</h3>
        <p class="font-size-14-v3">
        Click on “start now” to start the dialog with our CEO</p>
            </div>
        </div>
        
        <div class="startup-block">
        <div class="column gap-5">
        <h3 class="font-size-14-v2">Step 02</h3>
        <p class="font-size-14-v3">
        Ask all your questions about the cooperation in the chat</p>
            </div>
        </div>
        
        <div class="startup-block">
        <div class="column gap-5">
        <h3 class="font-size-14-v2">Step 03</h3>
        <p class="font-size-14-v3">
        Schedule a call and start building your business in 24 hours</p>
            </div>
        </div>
        
           <div class="social-media-links-v2">
    <h3 class="font-size-16">start now</h3>
    <div class="social-media-btns">
          <a href="https://wa.me/+491711254074" target="_blank">
  <img src="/assets/img/whatsapplogo.png" style="cursor: pointer;">
</a>

        </div> 
        </div>
    </div>   
    </section>
    
 
    
    
    <section class="container section-padding">
    <h2 class="font-size-32 padding-20">Partner Recommendations</h2>
        <div class="row-ondesign gap-10 project-blocks">
    <div class="partner-block">
    <img src="/assets/img/icon1.jpeg" class="partners-icons">
        <a href="https://www.linkedin.com/in/christof-kugler-66a095a/" target="_blank"><img class="linkedin-icon" src="/assets/img/mdi_linkedin.svg"></a>
       <div class="column gap-5">
        <h3 class="font-size-18-v2">Christof Kugler</h3>
        <p class="font-size-14">
      With Brainz we’ve launched and achieved the profitability of our startup ProfitAIzer in the area of search arbitrage marketing just in 6 months. Now we continue to develop and to scale the business. </p>
        </div> 
    <a href="https://7mann.de/" target="_blank" class="font-size-14-v2 company-name">7Mann GmbH</a>  
        </div>    
        <div class="partner-block">
    <img src="/assets/img/icon2.jpeg" class="partners-icons">
    <a href="https://www.linkedin.com/in/jude-thomas/ 
" target="_blank"><img class="linkedin-icon" src="/assets/img/mdi_linkedin.svg"></a>
       <div class="column gap-5">
        <h3 class="font-size-18-v2">Jude Thomas</h3>
        <p class="font-size-14">
       With Brainz as a tech partner we could build and raise funding for our blockchain strategy of <a href="https://www.picklezone.com/ " target="_blank" style="color: #fff;">Picklezone</a>. Now we are working together on the launch of the mobile app. 
</p>
        </div> 
    <a href="https://www.picklezone.com/" target="_blank" class="company-name font-size-14-v2" style="margin-top: 16px;">PickleZone</a>    
        </div> 

        <div class="partner-block">
    <img src="/assets/img/icon3.jpeg" class="partners-icons">
    <a href="https://www.linkedin.com/in/frank-nitty-%F0%9F%8E%A7-b70a25230/
" target="_blank"><img class="linkedin-icon" src="/assets/img/mdi_linkedin.svg"></a>
       <div class="column gap-5">
        <h3 class="font-size-18-v2">Frank Nitty</h3>
        <p class="font-size-14">
      Our Music NFT Platform Rap3.AI is built with Brainz. Perfect and reliable partner for long term projects. </p>
        </div> 
    <a href="https://rap3.ai/" target="_blank" class="company-name font-size-14-v2" style="margin-top: 32px;">RAP3.AI</a>    
            </div></div>
    </section>    
    
    
    <!--   <section class="container section-padding">
    <h2 class="font-size-32 padding-20">Hero2Winner Knowledge Leveraging</h2>
    <img src="/assets/img/diagram.png" class="desktop-diagram">
    <div class="mob-diagram gap-10">  -->
    
   <!-- <a href="/assets/images/diagram.png" target="_blank">
    <img src="/assets/images/mob-diagram.png" class="mob-diagram" style="cursor: pointer;">
   </a>    -->
        
  <!-- <div>
    <img src="/assets/img/mob-diagram.png" (click)="openLargeImage('/assets/img/diagram.png')" class="mob-diagram" style="cursor: pointer;" />


<div *ngIf="largeImageUrl" class="large-image-overlay" (click)="closeLargeImage()">
      <img [src]="largeImageUrl" class="large-image" />
    </div>
  </div>
    <p class="font-size-12" style="display: flex; justify-content: flex-start;">click on image to zoom in</p>    
    </div>
    </section> -->
    
    </div>