<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
            
            <div class="column gap">
        <h3 class="brn-title">AI DataDialoger</h3>
        <p class="brn-text">
          Where Your Data Converses.
It transforms complex datasets into interactive, insightful conversations.</p>
            </div>
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Interactive Data Exploration: Engage with your data through intuitive conversations, eliminating the barrier of complex interfaces and analytical jargon.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
               Adaptive Insights: DataDialoger learns from your queries, refining its responses to provide more relevant and insightful feedback.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 Universal Integration: Seamlessly integrates with vast data sources, ensuring consistent and comprehensive research, regardless of where your data resides.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="img-settings agents-images" src="/assets/img/robot.jpg">
        </div>
        
            </div></div>
    
    </section>
    
    <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
