<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
        <h3 class="brn-title">Fan2Sell</h3>
      
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Boost your sales and expand your reach with our Affiliate Agent.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
               Create an affiliate program to incentivize others to promote and sell your NFTs.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Harness the power of influencers, content creators, and brand ambassadors to drive more sales and increase brand visibility.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="brn-navbar-item img-settings" src="/assets/img/fan2.jpg">
        </div>
        
            </div></div>
    
    </section>
    
   <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
