<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
        <h3 class="brn-title">Social Media Seller</h3>
      
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Simplify the buying process with our NFT Purchasing Agent.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
               Seamlessly purchase NFTs using credit cards or Paypal, eliminating the need for crypto wallets.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              Expand your customer base by making NFTs accessible to individuals without crypto experience.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="brn-navbar-item img-settings" src="/assets/img/seller.webp">
        </div>
        
            </div></div>
    
    </section>
    
   <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
