<div class="wrapper">
    <div class="breaker3">
        <app-navigation-menu></app-navigation-menu>
        <section class="container">
<div class="onboarding-header burger-menu-mob gap-for-titles">
<img src="/assets/img/carbon_dashboard.svg">
    <div class="column gap">
<h1 class="brn-header-subtitle mob-title-40">
    Welcome to the
Future of Entertainment:
Your Onboarding Journey
with Web3 Integration</h1>
</div>
    
    <button class="brn-btn" routerLink="/contacts">Try it now!</button>
</div> 
        </section>
    </div>
    
    
    <section class="container footer-settings-container">
    
    <div class="cards">
        
        <div class="card">
        <img src="/assets/img/e1.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Discover the Power of Web3</h3>
        <p class="brn-title-18">
        Welcome to our entertainment platform, where we're taking the experience to the next level by integrating Web3 technology. Get ready to explore the exciting world of blockchain, NFTs, and decentralized possibilities that await you.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e2.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Introducing Brains – Your Web3 Assistant</h3>
        <p class="brn-title-18">
      Meet Brains, your personal Web3 assistant. Brains is a multi-agent system designed to enhance your entertainment experience by leveraging the power of Web3 technologies. Our intelligent agents will revolutionize how you interact with our app and enable you to dive into the world of NFTs, crypto, and more.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e3.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">
            Seamless NFT Purchasing</h3>
        <p class="brn-title-18">
       With our NFT Purchasing Agent, you can seamlessly buy NFTs directly from our app. No need to hassle with crypto wallets or complex processes. We've made it easy by integrating credit card and Paypal payment options, ensuring a smooth and user-friendly purchasing experience.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e4.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">
            Mint Your Own NFTs</h3>
        <p class="brn-title-18">
       Express your creativity and mint your own NFTs with our Minting Agent. Whether you're an artist, content creator, or simply have a unique idea, this agent simplifies the process, making it accessible to everyone. Bring your creations to life and share them with the world.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e5.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Monetize Your Audience</h3>
        <p class="brn-title-18">
       Have a strong following on social media? Our Social Media Sales Agent empowers you to monetize your existing audience effortlessly. Sell your NFTs directly through popular platforms like Instagram, connecting with your fans in a whole new way and turning engagement into revenue.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e6.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Automate Sales and Support
</h3>
        <p class="brn-title-18">
       Our Sales Automation and Customer Support Agent is here to provide 24/7 assistance. From answering your questions to guiding you through any issues, this agent ensures a seamless experience. Enjoy automated sales processes and comprehensive customer support at your fingertips.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e7.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Measure Customer Satisfaction
</h3>
        <p class="brn-title-18">
       We value your feedback! Our Customer Satisfaction Measurement and Improvement Agent helps us understand your needs better. By providing valuable insights, you contribute to improving our services, ensuring we continue to meet and exceed your expectations.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/e8.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Engage with Token-based Marketing
</h3>
        <p class="brn-title-18">
       Experience a new level of engagement through our Token-based Marketing Agent. This agent allows you to participate in exclusive campaigns, unlock special content, and connect with your favorite stars. Tokens create a unique bond between you and the entertainment world you love.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n8.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Unlock Affiliates and Loyalty Rewards
</h3>
        <p class="brn-title-18">
       Join our Affiliate Agent program to become a brand ambassador and earn rewards for promoting our platform. Additionally, our Loyalty Agent rewards your ongoing support with exclusive perks, discounts, and limited edition NFTs. As a loyal customer, you'll enjoy a range of exciting benefits.</p>
            </div></div>
        
        <div class="card">
            <div class="column gap">
        <h3 class="brn-title-700">Embrace the Future of Entertainment
</h3>
        <p class="brn-title-18">
       Congratulations! You've completed the onboarding journey into the future of entertainment with our Web3 integration. Get ready for an immersive, engaging, and rewarding experience. Dive into our app and unlock the endless possibilities of Web3 technology.
<br><br>
Begin your adventure with us today and let Brains guide you through the exciting world of Web3 entertainment. Together, we'll redefine the way you experience entertainment and empower you to be part of the digital revolution.</p>
            </div></div>
        
        
        </div>
    
    </section>
    <div class="container container-for-settings"><app-footer></app-footer></div>
</div>

