<div class="wrapper">
  <app-navigation-menu></app-navigation-menu>

  <section>
    <div class="container__onepager">
      <div class="container container__onepager--big">
        <div class="cards-container cards-container--big">
          <div class="card__onepager--big">
            <img src="/assets/img/brnz-logo-white.svg">
            <div class="openpager-title-36">OpenAI's ChatGPT Updates: <br> Revolutionizing Interaction</div>
            <div class="openpager-text-sans">OpenAI continues to redefine AI interaction with ChatGPT, <br>
              introducing innovative features that enhance user experience.<br>
              From GPT Mentions to a comprehensive GPT Store, these <br>
              updates are set to transform how we engage with AI.</div>
          </div>
          </div>
          <div class="cards-container--big">
            <div *ngFor="let item of descriptions"
            class="card__opanpager">
              <img [src]="item.img">
              <div style="display: flex; gap: 10px; flex-direction: column">
              <div class="openpager-text-sans-20">{{item.name}}</div>
              <div class="openpager-text-sans">{{item.text}}</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container container-for-settings"><app-footer></app-footer></div>
  </section>


</div>
