<div class="wrapper-for-menu"  (mouseleave)="onMenuLeave()">
  <div class="triangle"><img src="/assets/img/Polygon.png"></div>

  <div class="main-menu" *ngIf="isNestedMenuOpen">
    <div class="main-links">
      <a class="mob-main-btn main-link" (click)="closeNestedMenu()" routerLink="/agents" [ngClass]="{'selected': isSubPageActive}">
        <img src="/assets/img/f3.svg" class="main-logo">Back
      </a>

      <a class="main-link" routerLink="/agents/blockchain-manager" [ngClass]="{'selected': isActive('/agents/blockchain-manager')}">
        <img src="/assets/img/m1.svg" class="main-logo">
        <div class="router-for-menu">SMS Fire</div>
      </a>

      <a class="main-link" routerLink="/agents/any-store" [ngClass]="{'selected': isActive('/agents/any-store')}">
        <img src="/assets/img/m2.svg" class="main-logo">
        <div class="router-for-menu">AnyStore</div>
      </a>

      <a class="main-link" routerLink="/agents/fan2Sell" [ngClass]="{'selected': isActive('/agents/fan2Sell')}">
        <img src="/assets/img/m3.svg" class="main-logo">
        <div class="router-for-menu">Fan2Sell</div>
      </a>

      <a class="main-link" routerLink="/agents/fan2Scale" [ngClass]="{'selected': isActive('/agents/fan2Scale')}">
        <img src="/assets/img/m4.svg" class="main-logo">
        <div class="router-for-menu">Fan2Scale</div>
      </a>

      <a class="main-link" routerLink="/agents/social-media-seller" [ngClass]="{'selected': isActive('/agents/social-media-seller')}">
        <img src="/assets/img/m5.svg" class="main-logo">
        <div class="router-for-menu">Social Media Seller</div>
      </a>

      <a class="main-link" routerLink="/agents/ai-datadialoger" [ngClass]="{'selected': isActive('/agents/ai-datadialoger')}">
        <img src="/assets/img/m6.svg" class="main-logo">
        <div class="router-for-menu">AI DataDialoger</div>
      </a>

      <a class="main-link" routerLink="/agents/ai-visionverse" [ngClass]="{'selected': isActive('/agents/ai-visionverse')}">
        <img src="/assets/img/m7.svg" class="main-logo">
        <div class="router-for-menu">AI VisionVerse</div>
      </a>

      <a class="main-link" routerLink="/agents/ai-buttler" [ngClass]="{'selected': isActive('/agents/ai-buttler')}">
        <img src="/assets/img/m8.svg" class="main-logo">
        <div class="router-for-menu">AI Butler</div>
      </a>

    </div>
  </div>
</div>
