


<div class="footer-container">
<div class="footer-site">
<p class="footer-reserve">Copyright 2024. BRNZ.AI. All rights reserved.</p>

<div class="footer-links">
<a class="footer-link" routerLink="/privacy-policy">Privacy Policy</a>
<a class="footer-link" routerLink="/terms-and-conditions">Terms and Conditions</a>
<a class="footer-link" href="https://www.instagram.com/brnz.ai/" target="_blank">Instagram</a>
<a class="footer-link" href="https://twitter.com/BRNZ_ai" target="_blank">Twitter</a>
<a class="footer-link" href="https://www.linkedin.com/in/brnzai/" target="_blank">Linkedin</a>

<!--<div class="footer-textarea-wrapper">    -->
<!--    <textarea class="footer-textarea" placeholder="Subscribe to newsletter..."></textarea>-->
<!--    <button class="footers-btn">-->
<!--        <img src="/assets/img/footer.svg" class="footer-textarea-icon"></button></div>-->

</div>
</div>
</div>
