.landing-breaker{
    background-image: url(/assets/img/landingbreaker.svg);
    height: 900px;
    align-items: center;
    background-size: cover;
  //  padding-bottom: 100px;
    
    display: flex;
    justify-content: center;
    
     @media all and (max-width: 768px){
        height: auto;
        padding-bottom: 100px;
        padding-top: 30px;
    }

}


.landing-header{
    color: #B6FFFA;
    font-family: "SF Mono";
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; 
    
    @media all and (max-width: 768px){
        color: #B6FFFA;
        font-family: "SF Mono";
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%; 
        padding-bottom: 25px;
    }
}


.gap--40{
    gap: 40px;
    
    @media all and (max-width: 768px){
        gap: 20px;
    }
}

.landing-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-block{
        
    display: flex;
    width: 535px;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background: #201F1F;
    
    @media all and (max-width: 768px){
        width: 100%;
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
}

.landing-block-text{
    color: #FFF;
    font-family: "SF Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
    @media all and (max-width: 768px){
        color: #FFF;
        font-family: "SF Mono";
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
}


.container-for-landing{
    padding: 180px 0;
    
    @media all and (max-width: 768px){
        padding: 100px 20px;
    }
}


.container-for-full-landing{
   // padding-top: 180px;
    padding-bottom: 180px;
    @media all and (max-width: 768px){
     
        padding-top: 0;
        padding-bottom: 100px;
        
    }
}


.landing-full-width-block{
    width: 100%;
  //  opacity: 0.4;
    height: 720px;
    background-size: cover;
    background-image: url(/assets/img/back1.svg);
    background-repeat: no-repeat;

    @media all and (max-width: 768px){
        background-image: url(/assets/img/backmob.svg);
    }
    
}


.landing-full-width-block2{
    width: 100%;
  //  opacity: 0.4;
    height: 720px;
    background-size: cover;
    background-image: url(/assets/img/back22.svg);
    background-repeat: no-repeat;

    @media all and (max-width: 768px){
        background-image: url(/assets/img/backmob2.svg);
        height: auto;
    }
    
}



.small-landing-block{
    display: flex;
    width: 262px;
    height: auto;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    background: #161515;
    
    @media all and (max-width: 768px){
        width: 100%;
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 30px;
    }
    
}

.large-landing-block{
    display: flex;
    width: 533px;
    height: 225px;
    
    padding: 40px;
    align-items: center;
    gap: 40px;
    flex-shrink: 0;
    
    background: #161515;
    
    @media all and (max-width: 768px){
        width: 100%;
        height: auto;
    }
}


.large-xl-block{
    display: flex;
    width: 535px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: #161515;
    
    @media all and (max-width: 768px){
        width: 100%;
        
    }
}


.smaller-landing-block{
    display: flex;
    width: 262px;
    height: auto;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    
    background: #161515;
    
    @media all and (max-width: 768px){
        width: 100%;
        
    }
    
}

.landing-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    list-style-type: disc; 

}

.xxl-landing-block{
    display: flex;
    width: 535px;
    height: 851px;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    background: #201F1F;
    
    @media all and (max-width: 768px){
        width: 100%;
        height: auto;
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        
    }
}

.middle-landing-block{
    display: flex;
    width: 535px;
    padding: 80px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: #161515;
    
    
    @media all and (max-width: 768px){
        width: 100%;
        display: flex;
        padding: 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;
        
        
    }
}

.middle-landing-square{
    display: flex;
    width: 535px;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background: #161515;
    height: 372.5px;
    
    @media all and (max-width: 768px){
        width: 100%;
        display: flex;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        height: auto;
        align-self: stretch;
        
    }
}



.full-width-info{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    //gap: 20px;
}


.width-for-first-text{
    width: 480px;
    margin-left: 180px;
    padding-top: 223px;
    
    @media all and (max-width: 768px){
        width: 100%;
        padding-top: 0;
        margin-left: 0;
        padding: 100px 20px;
        
        
    }
}

.width-for-second-text{
    width: 800px;
    margin-left: 180px;
    padding-top: 187px;
    
    @media all and (max-width: 768px){
        width: 100%;
        padding-top: 0;
        margin-left: 0;
        padding: 100px 20px;
    }
}