<div class="wrapper">
<div class="landing-breaker">
 
        <section class="container">
<div class="brn-text-position mob-text-position column gap--40 gap--20">
    
<h1 class="landing-header">N/A</h1>    
<h3 class="brn-title-48">
    Eliminating factors that hinder individuals from living proactively</h3>
<p class="brn-text">
    Our goal is to identify and reevaluate the factors that hinder individuals from living proactively. By doing so, we aim to redefine these factors, making it easier for individuals to live in this world.</p>
    
   
</div> 
        </section>
    </div>   
    
    
        <section class="container container-for-landing">
  <div class="landing-blocks row gap">
        <div class="landing-block">
            <div class="column gap">
      <h3 class="landing-block-text">The situation what I want to change...</h3>
      
      <p class="brn-text">
          I am currently in the job-hunting process. However, due to a lack of skills and experience, I am not accepted by companies no matter how many times I apply, and I cannot afford to go to university because of a lack of funds. Even when I plan to take other actions, my lack of capital limits my ability to act. Even if I try to consult with someone about this situation, I don't have reliable friends to rely on. Why can't I take action even though I want to do something?</p>       
            </div>
      </div>    
      
      <div class="landing-block" style="background: #161515;">
            <div class="column gap--40">
      <p class="brn-text">
         I'm not happy with this situation. Even though I want to improve the current situation, I cannot. In other words, it is evidence that the system in this world has flaws.</p> 
      
      <p class="brn-text" style="color: #B6FFFA;">
          The goal is to create an environment where individuals, when they wish to change the current situation, can implement improvements without being hindered by anything.</p>       
            </div>
      </div>
            
            
            </div>
        
        
    
    </section>
    <div class="breaker"></div>

    
    <section class="container container-for-landing">
      <div class="landing-blocks row gap">
        <div class="landing-block">
            <div class="column gap">
    
        <h3 class="landing-block-text">Target</h3>        
               
        <div class="column gap--40">    
      <p class="brn-text" style="color: #fff;">
          We will provide an environment where individuals can acquire the necessary skills and experiences to live in society, regardless of interpersonal relationships or the presence of capital. We aim to create a setting where individuals can, based on their efforts, attain happiness independently.</p>    
      
      <p class="brn-text">
          No matter how much effort is exerted, without rewards, lacking capital to take action, and with no one to support, individuals may find themselves burdened with loneliness. For those people, we exist.</p>       
            </div>
            </div>
      </div>  
          
        <div class="column gap">
          
            <div class="row gap">
            <div class="small-landing-block">
            <img src="/assets/img/ss1.svg" class="">
                
            <p class="brn-text">
                The ability to receive the materials and services necessary for taking action without any constraints.</p>    
            </div>
            
             <div class="small-landing-block">
            <img src="/assets/img/ss2.svg" class="">
                
            <p class="brn-text">
                The ability to easily build the necessary interpersonal relationships for taking action.</p>    
            </div>
            </div>
          
            <div class="large-landing-block">
            <img src="/assets/img/ss3.svg" class="">
            
            <p class="brn-text">An environment where individuals can experiment and learn, regardless of the presence of capital, to acquire skills and experiences through trial and error.</p>    
            </div>
          
          </div>  
      
      
            
            
            </div>
    
    </section>
    
    
    
    <div class="container-for-full-landing">
    <div class="landing-full-width-block">
     <section class="">
         <div class="column gap mob-text-position full-width-info width-for-first-text ">
         <h3 class="mob-title-24" style="color: #B6FFFA;">Business Model</h3>
         <p class="mob-title-36">
             Setting people's concerns as quests and forming teams to solve problems</p>     
         </div>          
    </section>
    </div>
    </div>
    
    
    <div class="breaker"></div>
    
    <section class="container container-for-landing">
    <div class="landing-blocks row gap">
        
    <div class="column gap">
        
        <div class="xxl-landing-block">
        <img src="/assets/img/hh1.svg" class="">
        <h3 class="mob-title-24">System</h3> 
        <p class="brn-text" style="color: #B6FFFA;">
            Based on the hypothesis that, with mutual consent, people can engage in economic activities without using currency for all goods and services</p>
        <p class="brn-text">
            Afterward, compile the obtained results and share them with society, benefiting people facing similar problems. Costs only arise when the results are commercially used. Profits obtained are distributed to the team. The cost becomes the capital for individuals who want to gain experience and skills to take action.</p>
            
        </div>
        
        
        <div class="middle-landing-block">
        <img src="/assets/img/hh2.svg" class="">
            <div class="column gap">
        <h3 class="brn-title-700">Managers</h3>
        <p class="brn-text">
            Manage the progress of the team's project. Assist in compiling project results. The entire system is defined as one team.</p>
            </div>
            <p class="brn-text" style="color: #B6FFFA;">
            Manage the project and sell results to the Company.</p>
            
        </div>
        
        </div>    
        
        
        <div class="column gap">
        
           <div class="middle-landing-block">
        <img src="/assets/img/hh3.svg" class="">
            <div class="column gap">
        <h3 class="brn-title-700">Improvers</h3>
        <p class="brn-text">
           Collaborate with strangers in teams to solve the problems and challenges participants bring. In the improvement process, they engage in trial and error, aiming to acquire skills and experiences.</p>
            </div>
            <p class="brn-text" style="color: #B6FFFA;">
            Provide issues as quests to Participants and receiving a feedback as compensation.</p>
            
        </div> 
            
            
            <div class="middle-landing-block">
        <img src="/assets/img/hh4.svg" class="">
            <div class="column gap">
        <h3 class="brn-title-700">Participants</h3>
        <p class="brn-text">
           Offer their problems and challenges to others. In exchange for free solutions, they provide thorough feedback to the improvers.</p>
            </div>
            <p class="brn-text" style="color: #B6FFFA;">
            Acquire one's own competence and experience through the quests.</p>
            
        </div> 
            
            <div class="middle-landing-square">
        <img src="/assets/img/hh5.svg" class="">
            <div class="column gap">
        <h3 class="brn-title-700">Company</h3>
        <p class="brn-text">
           Pays the profits to the team and the manager, then profits shares to the team.</p>
            </div>
            
            
        </div> 
        
        </div>
        
        
        </div>
        
        
        
        
    </section>
    
     <div class="breaker"></div>
    
    <section class="container container-for-landing">
    
    <div class="column gap mob-text-position brn-text-position">
        <h3 class="mob-title-24">Benefits</h3>
        <p class="brn-text" style="color: #B6FFFA;">People who join the team can gain the following benefits</p>
        </div>    
        
        
        <div class="landing-blocks row gap">
        <div class="large-xl-block">
        
        <img src="/assets/img/aa1.svg" class="">  
        <div class="column gap">
        <h3 class="brn-title-700">Improvers</h3>  
        
        <ul class="landing-list">
        <li class="brn-text">Can use the materials and services needed for trial and error without any restrictions.</li>  
            
        <li class="brn-text">Can acquire the skills and experiences necessary for living in society, regardless of their current environment.</li>
            
        <li class="brn-text">Can receive feedback from other companies.</li>
    </ul>    
            </div>    
            
            </div>
        
            
    <div class="smaller-landing-block">
        <img src="/assets/img/aa2.svg" class="">   
        
        <div class="column gap">
        <h3 class="brn-title-700">Participants</h3>
        <p class="brn-text">Regardless of the presence of capital, they can have people improve issues for them.</p>
        </div>
            </div>  
            
            
            <div class="smaller-landing-block">
        <img src="/assets/img/aa3.svg" class="">   
        
        <div class="column gap">
        <h3 class="brn-title-700">Common benefits</h3>
        <p class="brn-text">Through collaborative work within the team, they can build relationships.</p>
        </div>
            </div> 
            
            
        </div>
        
    </section>
    
    
    <div class="">
    <div class="landing-full-width-block2">
     <section class="">
         <div class="full-width-info width-for-second-text column gap mob-text-position gap">
         <h3 class="mob-title-24" style="color: #B6FFFA;">In conclusion</h3>
         <h3 class="brn-title-40">Our world's society is rapidly advancing, and things we cannot comprehend are increasing.</h3> 
             
         <div class="column gap--30"> 
             <p class="brn-text">
                 To survive in society, skills and experience are deemed essential, and those who cannot understand them are left behind. Let's reevaluate these notions and create an environment where everyone can obtain what is necessary to live in society.</p>
             <p class="brn-text" style="color: #B6FFFA;">Would you like to join in creating such an environment together?</p>
        </div>     
         </div>  
         
         
    </section>
    </div>
    </div>
    
</div>