<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
        <h3 class="brn-title">Custom Agent Development</h3>
      
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Need a unique agent to address your specific business needs? We’ve got you covered.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
               Our skilled software team specializes in the rapid development of custom agents.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                We offer tailor-made solutions to keep you at the forefront of technological advancements.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="img-settings" src="/assets/img/image1.svg">
        </div>
        
            </div></div>
    
    </section>
    
    <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
