<div class="wrapper">
    <div class="breaker3">
        <app-navigation-menu></app-navigation-menu>
        <section class="container">
<div class="onboarding-header burger-menu-mob gap-for-titles">
<img src="/assets/img/basketball.svg">
    <div class="column gap">
<h1 class="brn-header-subtitle mob-title-40">
    Welcome to the Future of Sports: Onboarding with Web3 Integration</h1>
<p class="brn-header-text">
    We are thrilled to introduce you to the cutting-edge world of sports entertainment powered by Web3 integration. Our mission is to revolutionize how fans engage with their favorite sports and athletes, creating an immersive and rewarding experience like never before. Let’s embark on this exciting journey together!</p></div>
    
    <button class="brn-btn" routerLink="/contacts">Try it now!</button>
</div> 
        </section>
    </div>
    
    
    <section class="container footer-settings-container">
    
    <div class="cards">
        
        <div class="card">
        <img src="/assets/img/v1.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">NFT Purchasing:Faster and Convenient Access</h3>
        <p class="brn-title-18">
        Get ready to elevate your sports memorabilia collection with exclusive NFTs. With our NFT Purchasing Agent, you can now buy NFTs using your credit card or Paypal, making the process faster and more convenient. No need to worry about setting up crypto wallets. Start acquiring unique digital collectibles and moments associated with your favorite sports teams and athletes effortlessly.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/v2.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Minting: Create Your Sports NFTs</h3>
        <p class="brn-title-18">
        Become a creator in the world of sports NFTs. Our Minting Agent allows you to easily mint your own NFTs without the need for technical knowledge or crypto wallets. Showcase your passion for sports by minting limited edition artwork, virtual experiences, or even highlight moments from your favorite matches. Unleash your creativity and share your unique sports-inspired creations with the world.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/v3.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">
            Sales Automation and Customer Support: Seamless Experience</h3>
        <p class="brn-title-18">
        We understand the importance of a smooth customer experience. Our Sales Automation and Customer Support Agent ensures that your journey is hassle-free. From automated sales processes to 24/7 customer support, we are here to assist you at every step. Have questions? Need assistance? Our dedicated team is just a message away, ready to provide the support you need.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/v4.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">
            Customer Satisfaction Measurement:Your Feedback Matters</h3>
        <p class="brn-title-18">
       Your satisfaction is our priority. Our Customer Satisfaction Measurement Agent helps us gather valuable feedback to continuously improve our offerings. We value your input and strive to enhance your experience with each interaction. Your feedback allows us to shape the future of sports entertainment and create a platform that exceeds your expectations.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/v5.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Token-based Marketing: Connect with Sports Stars</h3>
        <p class="brn-title-18">
        Experience a whole new level of connection with your favorite sports stars through our Token-based Marketing Agent. Engage in token-based campaigns where you can access exclusive content, virtual meet-ups, or even personalized interactions with sports celebrities. Tokens provide you with a unique connection and enable you to become part of the sports community like never before.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/v6.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Conclusion</h3>
        <p class="brn-title-18">
        Congratulations on joining the future of sports entertainment! Our Web3 integration will revolutionize the way you engage with sports, athletes, and fellow fans. Get ready to explore the world of NFTs, create your own sports collectibles, monetize your sports influence, and enjoy a seamless customer experience. Your feedback will shape our platform, ensuring that we deliver an unparalleled sports entertainment experience. Let's make history together!</p>
            </div></div>
        
        
        </div>
    
    </section>
    <div class="container container-for-settings"><app-footer></app-footer></div>
</div>
