.contact-breaker{
    background-image: url(/assets/img/breaker4.svg);
    height: 420px;
    align-items: center;
    background-size: cover;
    padding-top: 150px;
    
     @media all and (max-width: 768px){
        height: auto;
        background-size: auto;
        padding-top: 40px;
        
    }
    
}

.contacts-header{
    justify-content: space-between;
    align-items: center;

    @media all and (max-width: 768px){
        padding-bottom: 100px;
    }
}