@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&display=swap");

.wrapper {
  //background: #0A0909;
}

.weather-container {
  text-align: center;
  padding: 20px;
  //max-width: 400px;
  margin: auto;
  // border-radius: 10px;
}

.w-wrapper {
  @media all and (max-width: 480px) {
    padding: 30px;
  }
}

.sunny {
  background-color: #ffeb3b;
}
.rainy {
  background-color: #90caf9;
}
.snowy {
  background-color: #e3f2fd;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 40px;

  @media all and (max-width: 480px) {
    justify-content: center;
    padding: 0 0px 40px 0px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
}

.logo-title {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  letter-spacing: inherit;
  line-height: inherit;
}

.logo-subtitle {
  font-family: "Averta CY";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  letter-spacing: inherit;
  line-height: inherit;
  opacity: 0.5;
}

.weather-img {
  margin: 0 auto;
  width: 300px;
  padding-bottom: 40px;

  @media all and (max-width: 480px) {
    width: 250px;
  }
}

.city-search {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  @media all and (max-width: 480px) {
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0;
    padding: 0 30px;
  }
}

.city-input-wrapper {
  width: 290px;
  display: flex;
  flex-direction: row;
  height: 47px;
  position: relative;
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  gap: 10px;
  align-items: center;

  @media all and (max-width: 768px) {
    width: 290px;
  }

  @media all and (max-width: 480px) {
    width: 100%;
  }
}

.city-input {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.city-input::placeholder {
  color: #707070;
  opacity: 1;
}

.content-position {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  @media all and (max-width: 480px) {
    position: inherit;
    transform: none;
    top: auto;
    left: auto;
  }

  @media all and (min-width: 481px) and (max-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.input-btn {
  width: 100px;
  height: 47px;
  background-color: #08244f;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  @media all and (max-width: 768px) {
    width: 100px;
  }

  @media all and (max-width: 480px) {
    width: 100%;
  }
}

.input-btn:hover {
  background-color: #0a3871;
}

.data-wrapper {
  background: linear-gradient(180deg, #08244f 0%, #134cb5 47%, #0b42ab 100%);
  width: 100%;
  height: auto;
  min-height: 100%;
}

.city-name {
  font-size: 18px;
  font-weight: 400;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
}

.weather-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  position: absolute;
  left: 40px;
  top: 40px;
}

.temperature {
  font-size: 64px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  color: #fff;
}

.temperature-range {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #fff;
}

.weather-icon {
  margin: 0 auto;
}

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 25px;
}

.detail-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.weather-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 48px;
  background: rgba(0, 16, 38, 0.5);
  border-radius: 20px;
  padding: 0 15px;
  max-width: 400px;

  backdrop-filter: blur(10px);
}

.forecast {
  display: flex;
  flex-direction: column;
  background: rgba(0, 16, 38, 0.5);
  border-radius: 20px;
  padding: 30px;
  max-width: 770px;
  height: auto;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;

  @media all and (max-width: 768px) {
    max-width: inherit;
    overflow: auto;
  }
}

.forecast-container {
  display: flex;
  gap: 15px;
  flex-direction: row;

  @media all and (max-width: 768px) {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
  }
}

.forecast-item {
  width: 75px;
  //height: 155px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media all and (max-width: 768px) {
    width: auto;
  }
}

.forecast-temp {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
  //gap: 15px;
}

.forecast-time {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.weather-description {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #fff;
  padding-bottom: 5px;
}

.forecast-icon {
  width: 45px;
  margin: 0 auto;
}

.forecast-title {
  font-size: 22px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.forecast-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  justify-content: space-between;
  width: 100%;

  @media all and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }
}

.first-forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.forecast-date {
  font-size: 20px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.forecast-btn {
  font-size: 16px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;

  border: none;
  border-radius: 20px;
  background-color: #08244f;
  margin: 0 auto;
  width: 142px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 60px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  @media all and (max-width: 768px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.forecast-btn:hover {
  background-color: #0a3a6f;
  box-shadow: 0px 1px 8px rgba(255, 255, 255, 0.3);
}

.weekly-forecast {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;

  @media all and (max-width: 768px) {
    gap: 30px;
  }
}

.weekly-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 105px;
  padding: 5px;
}

.forecast-day {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.week-humidity {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.forecast-temp {
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.weekly-prop {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.second-forecast {
  width: 100%;
}

.forecast-scroll {
  @media all and (max-width: 768px) {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    max-width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    -ms-overflow-style: none;
  }
}

.city-suggestions {
  list-style: none;
  padding: 0;
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  letter-spacing: 0.2px;
  font-weight: 400;
  margin-top: 5px;
  top: 40px;
  left: 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  color: #000;
  position: absolute;
  width: 290px;
  overflow-y: auto;

  @media all and (max-width: 480px) {
    max-height: 70px;
    overflow-y: auto;
    width: 100%;
    top: -70px;
    bottom: 100%;
  }

  @media all and (min-width: 481px) and (max-width: 768px) {
    max-height: 120px;
  }

  &.single-item {
    max-height: 45px;
    overflow: hidden;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 4);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.city-suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;

  @media all and (max-width: 480px) {
    padding: 5px 10px;
  }
}

.city-suggestions li:hover {
  background: #e0e0e0;
}

.error-message {
  position: absolute;
  top: 50px;
  z-index: 10;
  font-size: 18px;
  font-family: "SF Pro Display";
  font-style: normal;
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  @media all and (max-width: 768px) {
    width: 265px;
    top: 110px;
  }

  &.show {
    opacity: 1;
  }

  &.hide {
    opacity: 0;
  }
}
