<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
        <h3 class="brn-title">AI Buttler</h3>
       
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Automate sales processes and provide exceptional customer support with our intelligent agent.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
               Answer customer queries, resolve issues, and ensure a smooth buying experience 24/7.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Free up your team’s time to focus on strategic initiatives while our agent handles the day-to-day operations.</li>
            </ul>
            
           <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="img-settings" src="/assets/img/image1.svg">
        </div>
        
            </div></div>
    
    </section>
    
    <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
