<div class="wrapper">
<app-navigation-menu></app-navigation-menu>

    <section>
    <div class="brn-header">

        <div class="container">
            <div class="onboarding-header burger-menu-mob">
        <div class="brn-header-info column gap mob-text">

        <h3 class="brn-subtitle mob-title-20" style="color: #B6FFFA;">Introducing Brainz:</h3>

        <h1 class="brn-header-subtitle mob-title-40">Technology for your<br> AI Startup</h1>

        <p class="brn-header-text">
            From launch to exit in 24 months</p>


            </div>

        <button class="brn-btn desc-v-btn" style="margin: 0 auto;" routerLink="/contacts">Apply to join CODE4EQUITY program</button>
                
            
            <button class="brn-btn mob-v-btn"
                    (click)="onContactsOpen()"
            >Apply now!</button>        
                
                
            </div></div>

        <div class="second-container">
        <div class="breaker2">

            <div class="container">
            <div class="main-info-container">
            <div class="breaker-info">
                <p class="breaker-title-72">25</p>
                <p class="breaker-title-40" style="opacity: 0.4;">MVPs</p>
                </div>

                 <div class="breaker-info">
                <p class="breaker-title-72">15</p>
                <p class="breaker-title-40" style="opacity: 0.4;">Partners</p>
                </div>

                 <div class="breaker-info">
                <p class="breaker-title-72">6</p>
                <p class="breaker-title-40" style="opacity: 0.4;">Startups</p>
                </div>
                </div>

            </div>

            </div></div>

        </div>


    </section>
    
    
    
    <section class="container second-container">
    
        <div class="small-main-block gap">
        
        <div class="column-mob gap">
        
            <div class="small-button-mvp1">
            
            <img src="/assets/img/ddd2.svg">
                
             <div class="column">
             <h3 class="brn-title-32">Brainz CODE4EQUITY Program</h3>  
             <p class="brn-header-text">
                 Building AI / Blockchain Startups for Equity</p>
            </div> 
                
            </div>
            
            
            <div class="small-button-mvp1">
            
            <img src="/assets/img/ddd3.svg">
                
             <div class="column">
             <h3 class="brn-title-32">Your idea –<br> our software</h3>  
             <p class="brn-header-text" style="color: #B6FFFA; opacity:1;">
                 Apply Join CODE4EQUITY program</p>
            </div> 
                
            </div>
            
            
            
        </div>    
        
        
        
        
        
        
        <div class="main-second--block">

        <div class="left mob-settings">
            <img class="mob-change-img" src="/assets/img/dm11.svg" style="opacity: 0.05;">
            <h3 class="brn-title-32">What is Brainz</h3>
            <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
             Brainz  is a Business Operations System for Fast Starting and Scaling of AI/Blockchain Startups
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 Brainz provides ready-to-use AI Agents, Framework, and Hosting, so you can launch your Startup Idea in 4 weeks</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
             Six startups are running already on Brainz
                </li>
                 
            </ul>
            </div>

            <div class="right des-img"><img src="/assets/img/d11.svg"></div>
        </div>
        
        </div>
        
        
        
    
    </section>
    
    
    
    <section class="container second-container">
        
    <h3 class="brn-title-48  brn-text-position mob-text-position">Meet our Agents</h3>
    
    
    <div class="popups">

<div class="popup" routerLink="/agents/sms-fire">
    <img class="" src="/assets/img/h1.svg">
    <div class="column gap">
    <p class="brn-title-700">SMS Fire</p>
    <p class="brn-title-18">Integrates SMS marketing with transactional capabilities, optimizing the sales journey.</p>
    </div>
    <a routerLink="/agents/sms-fire" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/social-media-seller">
    <img class="" src="/assets/img/h2.svg">
    <div class="column gap">
    <p class="brn-title-700">Social Media Seller</p>
    <p class="brn-title-18">Enables effective monetization of social media efforts, converting followers into paying customers.</p>
        </div>
    <a routerLink="/agents/social-media-seller" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/ai-datadialoger">
    <img class="" src="/assets/img/h3.svg">
        <div class="column gap">
    <p class="brn-title-700">AI DataDialoger</p>
    <p class="brn-title-18">Empowers your startup with conversational intelligence, turning complex data into clear, strategic insights.</p></div>

    <a routerLink="/agents/ai-datadialoger" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/ai-visionverse">
    <img class="" src="/assets/img/h4.svg">
    <div class="column gap">
    <p class="brn-title-700">AI VisionVerse</p>
    <p class="brn-title-18">Brings your startup's vision to life with engaging multimedia content, perfect for powerful pitches and marketing.</p></div>

    <a routerLink="/agents/ai-visionverse" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/ai-personapen">
    <img class="" src="/assets/img/h5.svg">
    <div class="column gap">
    <p class="brn-title-700">AI PersonaPen</p>
    <p class="brn-title-18">Develops personalized communication strategies, deepening your connection with audiences and building brand loyalty.</p></div>

    <a routerLink="/agents/ai-personapen" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/ai-buttler">
    <img class="" src="/assets/img/h6.svg">
    <div class="column gap">
    <p class="brn-title-700">AI Butler</p>
    <p class="brn-title-18">Ensures top-tier AI-powered customer support, maintaining a strong brand image and high customer satisfaction.</p></div>

    <a routerLink="/agents/ai-buttler" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/blockchain-manager">
    <img class="" src="/assets/img/h7.svg">
    <div class="column gap">
    <p class="brn-title-700">Blockchain Manager</p>
    <p class="brn-title-18">Offers advanced blockchain solutions for NFT innovation and secure digital transactions.</p>
        </div>
    <a routerLink="/agents/blockchain-manager" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/any-store">
    <img class="" src="/assets/img/h8.svg">
    <div class="column gap">
    <p class="brn-title-700">AnyStore</p>
    <p class="brn-title-18">Creates custom e-commerce platforms, streamlining sales and providing valuable consumer insights.</p></div>

    <a routerLink="/agents/any-store" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


    <div class="popup" routerLink="/agents/fan2Sell">
    <img class="" src="/assets/img/h9.svg">
    <div class="column gap">
    <p class="brn-title-700">Fan2Sell</p>
    <p class="brn-title-18">Drives growth through a community-powered affiliate system, enhancing organic market reach.</p></div>

    <a routerLink="/agents/fan2Sell" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


    <div class="popup" routerLink="/agents/fan2Scale">
    <img class="" src="/assets/img/h10.svg">
    <div class="column gap">
    <p class="brn-title-700">Fan2Scale</p>
    <p class="brn-title-18">Implements token-based loyalty programs, boosting engagement and reinforcing your value proposition.</p></div>

    <a routerLink="/agents/fan2Scale" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/custom-agent-development">
    <img class="" src="/assets/img/h11.svg">
    <div class="popup-column gap">
    <p class="brn-title-700">Request Custom Agent Development</p>
    <p class="brn-title-18">Need a unique agent to address your specific business needs? We’ve got you covered.</p></div>
    <button routerLink="/contacts" class="popup-btn">Schedule a call</button>
    <a routerLink="/agents/custom-agent-development" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


        </div>



        </section>


    
    <div class="second-container"><div class="breaker"></div></div>
    
    <section class="container second-container">
    
    <h3 class="brn-title-48  brn-text-position mob-text-position">Brainz Overview</h3>
    
    <div class="web-static-wrapper">
    <div class="web-static-column">
    <div class="web-static-third-block brn-text-10" style="color: #B6FFFA;">web 2.0</div>    
    
    <div class="third-static-column">    
       <div class="web-third-static-block">
        <img src="/assets/img/l1.png" class="">
        <p class="brn-text-12 text--none">Meta Ads (3B)</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/l2.png" class="">
        <p class="brn-text-12 text--none">Instagram (2.5B)</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/l3.png" class="">
        <p class="brn-text-12 text--none">Messenger (1.3B)</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l4.png" class="">
        <p class="brn-text-12 text--none">Telegram (0.8B)</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l5.png" class="">
        <p class="brn-text-12 text--none">Discord (0.5B)</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l6.png" class="">
        <p class="brn-text-12 text--none">X (0.3B)</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l7.png" class="">
        <p class="brn-text-12 text--none">TikTok Ads (1.7B)</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l8.png" class="">
        <p class="brn-text-12 text--none">WhatsApp (3B)</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l9.png" class="">
        <p class="brn-text-12 text--none">Web & Mobile Applications</p>    
        </div>
        
        
        </div>  
        </div>
        
        <div class="web-static-column">
    <div class="web-static-third-block brn-text-10" style="color: #B6FFFA;">agents</div>    
    
        
            <div class="third-static-column"> 
            
       <div class="web-third-static-block">
        <img src="/assets/img/ll1.svg" class="">
        <p class="brn-text-12 text--none">Fundr</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/ll2.svg" class="">
        <p class="brn-text-12 text--none">AnyStore</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll3.svg" class="">
        <p class="brn-text-12 text--none">Fan2Sell</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll4.svg" class="">
        <p class="brn-text-12 text--none">Fan2Scale</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll5.svg" class="">
        <p class="brn-text-12 text--none">Social Media Seller</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll6.svg" class="">
        <p class="brn-text-12 text--none">AI DataDialoger</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll7.svg" class="">
        <p class="brn-text-12 text--none">AI VisionVerse</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll8.svg" class="">
        <p class="brn-text-12 text--none">AI Butler</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/ll9.svg" class="">
        <p class="brn-text-12 text--none">Custom Agent Development</p>    
        </div>
            </div> </div>   
        
        
         <div class="web-static-column">
    <div class="web-static-third-block brn-text-10" style="color: #B6FFFA;">payments</div>    
    
             <div class="third-static-column"> 
       <div class="web-third-static-block">
        <img src="/assets/img/lll1.png" class="">
        <p class="brn-text-12 text--none">Crypto</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/lll2.png" class="">
        <p class="brn-text-12 text--none">Stripe</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll3.png" class="">
        <p class="brn-text-12 text--none">Paypal</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll4.png" class="">
        <p class="brn-text-12 text--none">PLAID</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll5.png" class="">
        <p class="brn-text-12 text--none">Klarna</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll6.png" class="">
        <p class="brn-text-12 text--none">Visa</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll7.png" class="">
        <p class="brn-text-12 text--none">Mastercard</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll8.png" class="">
        <p class="brn-text-12 text--none">NFTpay</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/lll9.png" class="">
        <p class="brn-text-12 text--none">Crossmint</p>    
        </div>
             </div>    </div>
        
        
        <div class="web-static-column">
    <div class="web-static-third-large-block brn-text-10" style="color: #B6FFFA;">modules</div>   
            
        <div class="web-static-row "> 

            <div class="desk-web-static">
        <div class="web-static-column"> 
        
       <div class="web-third-static-block">
        <img src="/assets/img/y1.svg" class="">
        <p class="brn-text-12 text--none">Flexible Marketplace</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/y2.svg" class="">
        <p class="brn-text-12 text--none">Crypto Wallet Manager</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/y3.svg" class="">
        <p class="brn-text-12 text--none">Access Management</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y4.svg" class="">
        <p class="brn-text-12 text--none">Fiat and Crypto Payments</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y5.svg" class="">
        <p class="brn-text-12 text--none">Operations Dashboard</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y6.svg" class="">
        <p class="brn-text-12 text--none">Natural Lang. Processing</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y7.svg" class="">
        <p class="brn-text-12 text--none">Blockchain Operations</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y8.svg" class="">
        <p class="brn-text-12 text--none">Customer Relationships</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y9.svg" class="">
        <p class="brn-text-12 text--none">Shopify Connect</p>   
        </div>
           
            </div>
        
        
        
        <div class="web-static-column"> 
        <div class="web-third-static-block">
        <img src="/assets/img/y10.svg" class="">
        <p class="brn-text-12 text--none">Sales Funnel Management</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/y11.svg" class="">
        <p class="brn-text-12 text--none">NFT Encoding and Decoding</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/y12.svg" class="">
        <p class="brn-text-12 text--none">Chatbot Sales</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y13.svg" class="">
        <p class="brn-text-12 text--none">Token Based Marketing</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y14.svg" class="">
        <p class="brn-text-12 text--none">Business Flow Editor</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y15.svg" class="">
        <p class="brn-text-12 text--none">Social Media NFT Minting</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y16.svg" class="">
        <p class="brn-text-12 text--none">Multichannel User Interface</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y17.svg" class="">
        <p class="brn-text-12 text--none">Generative AI Integrations</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y18.svg" class="">
        <p class="brn-text-12 text--none">Ads Manager</p>   
        </div>
        </div>
            
            </div>
            
            
            
            
            <div class="third-static-column mob-web-static"> 
        
       <div class="web-third-static-block">
        <img src="/assets/img/y1.svg" class="">
        <p class="brn-text-12 text--none">Flexible Marketplace</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/y2.svg" class="">
        <p class="brn-text-12 text--none">Crypto Wallet Manager</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/y3.svg" class="">
        <p class="brn-text-12 text--none">Access Management</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y4.svg" class="">
        <p class="brn-text-12 text--none">Fiat and Crypto Payments</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y5.svg" class="">
        <p class="brn-text-12 text--none">Operations Dashboard</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y6.svg" class="">
        <p class="brn-text-12 text--none">Natural Lang. Processing</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y7.svg" class="">
        <p class="brn-text-12 text--none">Blockchain Operations</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y8.svg" class="">
        <p class="brn-text-12 text--none">Customer Relationships</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y9.svg" class="">
        <p class="brn-text-12 text--none">Shopify Connect</p>   
        </div>
           
           
        <div class="web-third-static-block">
        <img src="/assets/img/y10.svg" class="">
        <p class="brn-text-12 text--none">Sales Funnel Management</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/y11.svg" class="">
        <p class="brn-text-12 text--none">NFT Encoding and Decoding</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/y12.svg" class="">
        <p class="brn-text-12 text--none">Chatbot Sales</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y13.svg" class="">
        <p class="brn-text-12 text--none">Token Based Marketing</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y14.svg" class="">
        <p class="brn-text-12 text--none">Business Flow Editor</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y15.svg" class="">
        <p class="brn-text-12 text--none">Social Media NFT Minting</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y16.svg" class="">
        <p class="brn-text-12 text--none">Multichannel User Interface</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y17.svg" class="">
        <p class="brn-text-12 text--none">Generative AI Integrations</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/y18.svg" class="">
        <p class="brn-text-12 text--none">Ads Manager</p>   
        </div>
                
        </div>
            
            
            
            
            
            
            
        </div>
            
            </div>
           
        
        
         <div class="web-static-column">
    <div class="web-static-third-block brn-text-10" style="color: #B6FFFA;">web 3.0</div>    
    
            
             <div class="third-static-column"> 
             
       <div class="web-third-static-block">
        <img src="/assets/img/l01.svg" class="">
        <p class="brn-text-12 text--none">Ethereum</p>    
        </div>
        
       <div class="web-third-static-block">
        <img src="/assets/img/l02.svg" class="">
        <p class="brn-text-12 text--none">Polygon</p>    
        </div>    
        
        <div class="web-third-static-block">
        <img src="/assets/img/l03.svg" class="">
        <p class="brn-text-12 text--none">NEAR</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l04.svg" class="">
        <p class="brn-text-12 text--none">Solana</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l05.svg" class="">
        <p class="brn-text-12 text--none">BNB Chain</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l06.svg" class="">
        <p class="brn-text-12 text--none">Moralis</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l07.svg" class="">
        <p class="brn-text-12 text--none">Wallet Connect</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l08.svg" class="">
        <p class="brn-text-12 text--none">MetaMask</p>    
        </div>
        
        <div class="web-third-static-block">
        <img src="/assets/img/l09.svg" class="">
        <p class="brn-text-12 text--none">OpenSea</p>    
        </div>
        
             </div>
        </div>  
        
        </div>
        
        
        
    </section>
    
    <div class="second-container"><div class="breaker"></div></div>


    <section class="container second-container">

    <div class="block">
        <div class="main-block">
        <div class="left mob-settings">
            <img class="mob-change-img" src="/assets/img/mf1.svg" style="opacity: 0.05;">
            <h3 class="brn-title-32">Not ready to risk your own money on development?</h3>
            <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                30+ developers, designers, and managers working for us
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                    Start now and we will invest in the MVP development</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                You manage the growth and community
                </li>
            </ul>
            </div>

            <div class="right des-img"><img src="/assets/img/s1.svg"></div>
        </div>


        <div class="main-block">

        <div class="left mob-settings">
            <img class="mob-change-img" src="/assets/img/mf2.svg" style="opacity: 0.05;">
            <h3 class="brn-title-32">Do you count the product overcomplicated?</h3>
            <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Not needed to start from scratch
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                  Our platform covers tech features that exist in your fantasy even</li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
             Let’s make together your idea clear for the market and its participants
                </li>
                 <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
            We have been startupers for 15+ years. No need to chew on the details
                </li>
            </ul>
            </div>

            <div class="right des-img"><img src="/assets/img/s2.svg"></div>
        </div>
        </div>

        <div class="mob-row gap">
    <div class="column-block gap">

        <div class="main-block">
        <div class="left mob-settings">
            <img class="mob-change-img" src="/assets/img/mf3.svg" style="opacity: 0.05;">
            <h3 class="brn-title-32">Hard to trust <br>an unfamiliar team?</h3>
            <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
              If we believe in your project, we can start after the handshake even
                </li>
                <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 You’ll see how your product idea looks with professional UI/UX design in a couple of days</li>

            </ul>

            <button class="brn-btn desc-v-btn" routerLink="/contacts">Apply to join CODE4EQUITY program</button>
            
            
            <button class="brn-btn mob-v-btn"
                    (click)="onContactsOpen()"
            >Apply now!</button>
            
            
            </div>

            <div class="right des-img"><img src="/assets/img/s3.svg"></div>

        </div>

        <div class="mob-block">
        <div class="mob-left">
            <h3 class="brn-title">ChampAI</h3>
            <p class="brn-header-text" style="height: 264px;">
               This is the new era of content creation. This AI Tool can recreate your photos in many amazing styles and generate images from scratch from your text description.</p>
            <a class="mob-btn" href="http://thechamp.ai">Visit website<img src="/assets/img/solar_double-alt-arrow-right-line-duotone.svg"></a>
            </div>

            <div class="mob-right"><img src="/assets/img/s4.svg"></div>
        </div>


            </div>

            <div class="brn-title-40 mob-title">How it works</div>
        <div class="column-block gap ">
            <div class="info-cards">

            <div class="info-card">
            <img src="/assets/img/a1.svg" class="">
                <p class="brn-title-16">
                    Short interview to ensure we align</p>
                </div>

                <div class="info-card">
            <img src="/assets/img/a2.svg" class="">
                <p class="brn-title-16">
                    Deep discussion to arrange the roadmap and handshake</p>
                </div>

            </div>

            <div class="info-cards">

            <div class="info-card">
            <img src="/assets/img/a3.svg" class="">
                <p class="brn-title-16">
                    Professional UI/UX design</p>
                </div>

                <div class="info-card">
            <img src="/assets/img/a4.svg" class="">
                <p class="brn-title-16">
                    We take a small equity share with most of the development cost covered</p>
                </div>

            </div>

            <div class="info-cards">

            <div class="info-card">
            <img src="/assets/img/a5.svg" class="">
                <p class="brn-title-16">
                    Making a new brand and first public release</p>
                </div>

                <div class="info-card">
            <img src="/assets/img/a6.svg" class="">
                <p class="brn-title-16">
                    Ongoing consulting and optimizing of business strategy, customer care, and scaling</p>
                </div>

            </div>

            <div class="info-cards">

            <div class="info-card">
            <img src="/assets/img/a7.svg" class="">
                <p class="brn-title-16">
                    Marketing automation by using a dialog selling system and content generation based on first clients' feedback and analytics of their behavior</p>
                </div>

                <div class="info-card">
            <img src="/assets/img/a8.svg" class="">
                <p class="brn-title-16">
                    We help you to sell this business in six to twelve months and provide professional support in dealing with brokers</p>
                </div>

            </div>
            </div>

        </div>

        <div class="brn-title-40 mob-title">Latest works</div>

        <div class="middle-cards gap">
        <div class="middle-card">
        <img class="" src="/assets/img/middle1.svg">
        <div class="middle-info column gap">
        <p class="brn-title-700">Boomerang</p>
        <p class="brn-title-18">Cashback solution for Shopify</p>
            </div></div>

        <div class="middle-card">
        <img class="" src="/assets/img/middle2.svg">
            <div class="middle-info column gap">
        <p class="brn-title-700">Alpha</p>
        <p class="brn-title-18">Crypto news</p>
            </div></div>

        <div class="middle-card">
        <img class="" src="/assets/img/middle3.svg">
            <div class="middle-info column gap">
        <p class="brn-title-700">SONFT</p>
        <p class="brn-title-18">NFT gated streaming</p>
            </div></div>
        </div>

    </section>



    <section class="second-container">
        <div class="technical-overview">
            <div class="container">
                <div class="overview">
   <div class="leftside-overview">
        <p class="brn-title-40">Technical <br>overview</p>
        <button routerLink="/home" class="mob-btn" routerLink="/services">Our services<img  class="" src="/assets/img/solar_double-alt-arrow-right-line-duotone.svg"></button>
        </div>

        <div class="rightside-overview row">
        <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Smart Contract development</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Mobile & Desktop Software development</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Professional custom UX</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Advertising campaign management</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Infrastructure setup and monitoring</li>
            </ul>

            <ul class="brn-list">
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Token gated technologies</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Brand development</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Ongoing business support</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">Community building and growing</li>
            </ul>
        </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container footer-settings-container2">
    <h3 class="brn-title-40 brn-text-position mob-text-position">Why do we need you, and what are we expecting from you?</h3>
        <div class="row row-card mob-card-settings">

        <div class="mini-card">
            <img src="/assets/img/tex1.svg" class="">
            <p class="brn-title-16">You have a project idea in the tech area</p>
            </div>

            <div class="mini-card">
            <img src="/assets/img/tex2.svg" class="">
            <p class="brn-title-16">You are working full-time on your startup</p>
            </div>

            <div class="mini-card">
            <img src="/assets/img/tex3.svg" class="">
            <p class="brn-title-16">You are looking for technical partners</p>
            </div>




        <div class="mini-card">
            <img src="/assets/img/tex4.svg" class="">
            <p class="brn-title-16">You have deep knowledge of sales and marketing of tech products</p>
            </div>

            <div class="mini-card">
            <img src="/assets/img/tex5.svg" class="">
            <p class="brn-title-16">You have the Financial Possibility to work on a project for 6 months and pre revenue</p>
            </div>

            <div class="mini-card">
            <img src="/assets/img/tex6.svg" class="">
            <p class="brn-title-16">You have the Financial Possibility to work on a project for 6 months and pre-revenue</p>
            </div>

        </div>

        <div class="footer">
        <div class="footer-info">
            <p class="brn-title-700">
            Embrace the future<br> of Web3 entrepreneurship<br> with the power of Brainz
            </p>
            <p class="brn-title-18">
                Our intelligent agents are designed to drive growth, enhance user experience, and simplify complex processes.</p>

            <button class="brn-btn desc-v-btn"
                    (click)="onContactsOpen()"
            >Apply to join CODE4EQUITY program</button>
            
            <button class="brn-btn mob-v-btn"
                    (click)="onContactsOpen()"
            >Apply now!</button>
            
            </div>

            <div class=""><img class="des-img" src="/assets/img/second-block-image-4af0131a.png"></div>
            
           
            
        </div>

        <app-accordion></app-accordion>

    </section>

<!--    <div class="second-container des-img"><div class="breaker"></div></div>-->

    <div class="container container-for-settings"><app-footer></app-footer></div>

</div>
