<div class="w-wrapper" *ngIf="!showWeatherScreen">
  <div class="header-logo">
    <img class="icon" src="/assets/img/W.svg" />
    <div class="title-container">
      <p class="logo-title">weather</p>
      <p class="logo-subtitle">Web</p>
    </div>
  </div>

  <div class="error-message" [class.show]="showError" [class.hide]="!showError">
    {{ errorMessage }}
  </div>

  <section class="content-position container">
    <div>
      <img src="/assets/img/weather-img.svg" class="weather-img" />
    </div>

    <div class="city-search">
      <div class="city-input-wrapper">
        <img src="/assets/img/icon%20_magnifying-glass.svg" />
        <input
          class="city-input"
          [(ngModel)]="city"
          (input)="onCityInput()"
          placeholder="Enter city name..."
        />

        <ul class="city-suggestions" *ngIf="suggestedCities.length > 0">
          <li
            *ngFor="let city of suggestedCities; let last = last"
            (click)="selectCity(city.name)"
            [class.last-item]="last"
          >
            {{ city.name }}, {{ city.country }}
          </li>
        </ul>
      </div>

      <button class="input-btn" (click)="getWeather()">Check</button>
    </div>
  </section>
</div>

<section class="data-wrapper" *ngIf="showWeatherScreen">
  <div
    class="weather-container"
    [ngClass]="(weather$ | async)?.weather[0].main.toLowerCase()"
    *ngIf="weather$ | async as weather"
  >
    <div class="weather-header">
      <img src="/assets/img/map.png" />
      <p class="city-name">{{ weather.name }}</p>
    </div>

    <div class="weather-info">
      <img
        *ngIf="weather$ | async as weather"
        [src]="getWeatherIcon(weather)"
        class="weather-icon"
      />
      <p class="temperature">{{ weather.main.temp.toFixed(0) }}°</p>
      <p class="weather-description">{{ weather.weather[0].description }}</p>
      <p class="temperature-range">
        Precipitations<br />
        Max.: {{ weather.main.temp_max.toFixed(0) }}° Min.:
        {{ weather.main.temp_min.toFixed(0) }}°
      </p>
    </div>

    <div class="weather-details">
      <div class="detail-item">
        <img src="/assets/img/noun-rain.svg" alt="Precipitation" />
        <p>{{ weather.pop ? (weather.pop * 100).toFixed(0) : 0 }}%</p>
      </div>

      <div class="detail-item">
        <img src="/assets/img/noun-humidity.svg" alt="Humidity" />
        <p>{{ weather.main.humidity }}%</p>
      </div>

      <div class="detail-item">
        <img src="/assets/img/noun-wind.svg" alt="Wind" />
        <p>{{ weather.wind.speed.toFixed(0) }} km/h</p>
      </div>
    </div>

    <div class="forecast" *ngIf="hourlyForecast.length > 0">
      <div class="first-forecast" *ngIf="showFirstForecast">
        <div class="forecast-header">
          <p class="forecast-title">Today</p>
          <p class="forecast-date">{{ currentDate }}</p>
        </div>

        <div class="forecast-scroll">
          <div class="forecast-container">
            <div class="forecast-item" *ngFor="let hour of hourlyForecast">
              <p class="forecast-temp">{{ hour.temp }}°C</p>
              <img *ngIf="hour.icon" [src]="hour.icon" class="forecast-icon" />
              <p class="forecast-time">{{ hour.time }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="second-forecast" *ngIf="!showFirstForecast">
        <div class="forecast-header">
          <p class="forecast-title">Next Forecast</p>
        </div>

        <div class="forecast-scroll">
          <div class="weekly-forecast">
            <div class="weekly-item" *ngFor="let day of weeklyForecast">
              <p class="forecast-day">{{ day.date | date: 'EEEE' }}</p>
              <img *ngIf="day.icon" [src]="day.icon" class="forecast-icon" />

              <div class="weekly-prop">
                <img src="/assets/img/noun-rain.svg" />
                <p class="week-humidity">
                  {{ day.pop ? (day.pop * 100).toFixed(0) : 0 }}%
                </p>
              </div>

              <p class="forecast-temp">
                {{ day.maxTemp }}°C /
                <small style="opacity: 0.7">{{ day.minTemp }}°C</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="forecast-btn" (click)="toggleForecast()">
      {{ buttonText }}
    </button>
  </div>
</section>
