<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
        <h3 class="brn-title">Fan2Scale</h3>
       
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Foster a strong bond with your fans and reward their loyalty with our Loyalty Agent.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
               Create a token-based loyalty program where fans can earn and redeem tokens for exclusive rewards and experiences.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                Strengthen your brand and audience connection, driving engagement and long-term customer loyalty.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="">
            <img class="img-settings" src="/assets/img/image1.svg">
        </div>
        
            </div></div>
    
    </section>
    
   <div class="container container-for-settings2"><app-footer></app-footer></div>
</div>
