
<div class="popups">

<div class="popup" routerLink="/agents/blockchain-manager">
    <img class="" src="/assets/img/popup1.svg">
    <div class="column gap">
    <p class="brn-title-700">SMS Fire</p>
    <p class="brn-title-18">Integrates SMS marketing with transactional capabilities, optimizing the sales journey.</p>
    </div>
    <a routerLink="/agents/blockchain-manager" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/blockchain-manager">
    <img class="" src="/assets/img/popup2.svg">
    <div class="column gap">
    <p class="brn-title-700">Social Media Seller</p>
    <p class="brn-title-18">Enables effective monetization of social media efforts, converting followers into paying customers.</p>
        </div>
    <a routerLink="/agents/blockchain-manager" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/fan2Sell">
    <img class="" src="/assets/img/popup3.svg">
        <div class="column gap">
    <p class="brn-title-700">Fan2Sell</p>
    <p class="brn-title-18">Affiliate system, where each customer can earn money by generating sales</p></div>

    <a routerLink="/agents/fan2Sell" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/fan2Scale">
    <img class="" src="/assets/img/popup4.svg">
    <div class="column gap">
    <p class="brn-title-700">Fan2Scale</p>
    <p class="brn-title-18">Blockchain-based rewards and loyalty system for growing audience and brand awareness</p></div>

    <a routerLink="/agents/fan2Scale" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/ai-buttler">
    <img class="" src="/assets/img/popup5.svg">
    <div class="column gap">
    <p class="brn-title-700">AI Buttler</p>
    <p class="brn-title-18">Helps customers 24/7 by using AI</p></div>

    <a routerLink="/agents/ai-buttler" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/sms-fire">
    <img class="" src="/assets/img/popup6.svg">
    <div class="column gap">
    <p class="brn-title-700">SMS Fire</p>
    <p class="brn-title-18">Connecting SMS with customer credit cards for fast, hassle-free payments and promotions</p></div>

    <a routerLink="/agents/sms-fire" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/blockchain-manager">
    <img class="" src="/assets/img/popup7.svg">
    <div class="column gap">
    <p class="brn-title-700">Blockchain Manager</p>
    <p class="brn-title-18">Offers advanced blockchain solutions for NFT innovation and secure digital transactions.</p>
        </div>
    <a routerLink="/agents/blockchain-manager" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/blockchain-manager">
    <img class="" src="/assets/img/popup8.svg">
    <div class="column gap">
    <p class="brn-title-700">AI Champion</p>
    <p class="brn-title-18">The Multi-Agent system that is automatically pursuing business goals</p></div>

    <a routerLink="/agents/blockchain-manager" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/social-media-seller">
    <img class="" src="/assets/img/popup9.svg">
    <div class="column gap">
    <p class="brn-title-700">Social Media Seller</p>
    <p class="brn-title-18">Real-time creation of NFTs on your phone or PC in the 60s</p></div>

    <a routerLink="/agents/social-media-seller" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>

    <div class="popup" routerLink="/agents/any-store">
    <img class="" src="/assets/img/popup10.svg">
    <div class="column gap">
    <p class="brn-title-700">AnyStore</p>
    <p class="brn-title-18">Flexible marketplace for selling NFTs, Music, and Merchandising</p></div>

    <a routerLink="/agents/any-store" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


    <div class="popup" routerLink="/agents/custom-agent-development">
    <img class="" src="/assets/img/popup11.svg">
    <div class="popup-column gap">
    <p class="brn-title-700">Request Custom Agent Development</p>
    <p class="brn-title-18">Need a unique agent to address your specific business needs? We’ve got you covered.</p></div>
        
    <button routerLink="/contacts" class="popup-btn1">
        Schedule a call</button>
        
    <a routerLink="/agents/custom-agent-development" class="route-popup"><img src="/assets/img/info-popup.svg"></a>
    </div>


</div>
