.popups{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    @media all and (max-width: 1245px){
        justify-content: center;
    }
}

.popup{
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
    align-self: stretch;
    min-width: 407px;
    min-height: 302px;
    max-width: 407px;
    max-height: 302px;
    cursor: pointer;
    position: relative;
    
    @media all and (max-width: 768px){
        max-width: none;
        width: 100%;
        height: auto;
        flex: auto;
        min-height: inherit;
        min-width: inherit;
    }
}

.popup-btn1{
    display: none;
    //width: 406px;
    width: 100%;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    color: #FFF;
    font-family: SF Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    border-top: 1px solid #B6FFFA;
    background: rgba(182, 255, 250, 0.10);
    cursor: pointer;
    
    border-left: none;
    border-bottom: none;
    border-right: none;
    
    @media all and (max-width: 768px){
        
        width: -webkit-fill-available;
        
      
      
    }
    
}

.route-popup{
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
}

.popup:last-child:hover {
    background: rgba(255, 255, 255, 0.10);
    transition: background 0.5s ease-in-out;
    position: relative;
    padding-bottom: 77px;
}

.popup:hover{
    background: rgba(255, 255, 255, 0.10);
    transition: background 0.5s ease-in-out;
}

.popup:last-child {
    position: relative;
    padding-bottom: 60px; 
    
}

.popup:last-child .route-popup {
    display: block; 
}

.popup:last-child:hover .route-popup {
    display: block; 
}


.popup:last-child:hover .popup-column {
    padding-bottom: 60px; 
}


.popup:last-child:hover .brn-title-18 {
    display: none; 
}

.popup:last-child:hover .popup-btn1 {
    display: block; 
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    
    
    
    margin-top: 20px;
    width: -webkit-fill-available;
}


.popup-column{
    display: flex;
    flex-direction: column;
    
}

.popup:last-child .popup-column {
    padding-bottom: 60px; 
}