<div class="wrapper">
    <div class="breaker3">
        <app-navigation-menu></app-navigation-menu>
        <section class="container">
<div class="onboarding-header burger-menu-mob gap-for-titles">
<img src="/assets/img/music.svg">
    <div class="column gap">
<h1 class="brn-header-subtitle mob-title-40">
    Welcome to MusicWeb3: Unlock the Future of Music!</h1>
<p class="brn-header-text">
   Get ready to embark on an extraordinary journey with our cutting-edge music business as we integrate Web3 technology into our app. Our platform is designed to revolutionize the music industry, empowering artists, fans, and stakeholders like never before. Let’s take you through an exciting onboarding experience to showcase the incredible features and benefits that await you.</p></div>
    
    <button class="brn-btn" routerLink="/contacts">Try it now!</button>
</div> 
        </section>
    </div>
    
    
    <section class="container footer-settings-container">
    
    <div class="cards">
        
        <div class="card">
        <img src="/assets/img/n1.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Discover and Support Artists</h3>
        <p class="brn-title-18">
        Explore a diverse and talented pool of artists on our platform. With our NFT Purchasing Agent, you can directly support your favorite musicians by purchasing their exclusive NFTs. Help them thrive and be a part of their success story.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n2.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Create and Collect Unique NFTs
</h3>
        <p class="brn-title-18">
        Unleash your creativity and mint your own unique NFTs with our Minting Agent. No crypto wallet? No problem! Our agent makes the process accessible to everyone, allowing you to showcase your music and art to a global audience.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n3.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">
            Monetize Your Social Media Presence</h3>
        <p class="brn-title-18">
        Are you an artist with a substantial following on social media? Our Social Media Sales Agent is your gateway to monetizing your existing audience. Sell your NFTs directly through your social media channels, turning engagement into revenue effortlessly.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n4.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">
            Streamlined Sales Automation and Support</h3>
        <p class="brn-title-18">
       Our Sales Automation and Customer Support Agent is here to enhance your experience. Whether you have questions or need assistance, our agent is available 24/7 to provide prompt and reliable support. Sit back and let us handle the details while you focus on creating great music.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n5.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Measure and Improve Customer Satisfaction</h3>
        <p class="brn-title-18">
        Your satisfaction is our priority. Our Customer Satisfaction Measurement and Improvement Agent gathers feedback to ensure we continuously enhance our services. Your input is invaluable as we strive to deliver an exceptional user experience.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n6.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Engage and Reward Your Fans</h3>
        <p class="brn-title-18">
        Forge deeper connections with your fans using our Token-based Marketing Agent. Create token-based campaigns that allow your fans to unlock exclusive content, experiences, or even virtual merchandise. It's time to build an unbreakable bond with your most loyal supporters.</p>
            </div></div>
        
        
        <div class="card">
        <img src="/assets/img/n7.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Collaborate and Earn with Affiliates</h3>
        <p class="brn-title-18">
        Our Affiliate Agent opens up exciting opportunities for collaboration. Partner with influencers, fellow musicians, or even your fans to promote and sell your NFTs. Generate additional income while expanding your fanbase through the power of affiliate marketing.</p>
            </div></div>
        
        <div class="card">
        <img src="/assets/img/n8.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Reward Loyalty</h3>
        <p class="brn-title-18">
        Appreciate and reward your loyal fans with our Loyalty Agent. Implement a robust loyalty program where fans earn points or tokens for their engagement and purchases. They can redeem these rewards for exclusive perks, discounts, or limited edition NFTs, creating a sense of exclusivity and appreciation.</p>
            </div></div>
        
        
        <div class="card">
            <div class="column gap">
        <h3 class="brn-title-700">Recently launched projects</h3>
        <div><img src="/assets/img/superapp.png" class="img-mus"></div>
        <img src="" class="">
            </div></div>
        
        
        <div class="card">
        <img src="/assets/img/n9.svg">
            
            <div class="column gap">
        <h3 class="brn-title-700">Conclusion</h3>
        <p class="brn-title-18">
        Join us on this groundbreaking journey as we reshape the music industry through the integration of Web3 technology. Sign up now to become a part of the MusicWeb3 community and unlock the full potential of your music career. Let's revolutionize the way we create, listen to, and support music together!</p>
               
                    
        <button class="onboarding-btn des-text" routerLink="/contacts">Register now and drive the future!</button>
                
                <button class="onboarding-btn mob-text" routerLink="/contacts">Register now</button>
                
            </div></div>
        
        
        </div>
    
    </section>
    <div class="container container-for-settings"><app-footer></app-footer></div>
</div>
