<div class="wrapper-for-menu" (mouseleave)="onMenuLeave()">
  <div class="triangle"><img src="/assets/img/Polygon.png"></div>

 
  <div *ngIf="isServiceMenuOpen" class="service-menu" >
    <div class="service-links">
      <a class="mob-service-btn service-link" (click)="closeServiceMenu()">
        <img src="/assets/img/f3.svg" class="service-logo">Back
      </a>

      <a class="service-link" [ngClass]="{'selected': isActive('/services/our-services')}" routerLink="/services/our-services">
        <img src="/assets/img/ser1.svg" class="service-main-icon">Our Services
      </a>

        <a class="service-link" [ngClass]="{'selected': isActive('/services/startup-support')}" routerLink="/services/startup-support">
        <img src="/assets/img/ser2.svg" class="service-main-icon">Startup Support
      </a>

      <a class="service-link" [ngClass]="{'selected': isActive('/services/scalingblockchains')}" routerLink="/services/scalingblockchains">
        <img src="/assets/img/ser3.svg" class="service-main-icon">Scaling Blockchains
      </a>


        <a class="service-link" [ngClass]="{'selected': isActive('/services/what-is-brainz')}" routerLink="/services/what-is-brainz">
        <img src="/assets/img/web-icon.svg" class="service-main-icon">What is brainz
      </a>


    <a class="service-link" [ngClass]="{'selected': isActive('/services/technologies')}" routerLink="/services/technologies">
        <img src="/assets/img/web2-icon.svg" class="service-main-icon">Technologies
      </a>
        
        
    <a class="service-link" [ngClass]="{'selected': isActive('/services/ambassador')}" routerLink="/services/ambassador">
        <img src="/assets/img/solar_crown-star-line-duotone.svg" class="service-main-icon">Ambassador
      </a>    



    </div>
        </div>


</div>

