<div class="wrapper">
<div class="web2-breaker">
    <app-navigation-menu></app-navigation-menu>
     
    <div class="container">
            <div class="onboarding-header burger-menu-mob brn-text-position mob-text-position">
        <div class="brn-header-info column gap mob-text">
        
        <h3 class="mob-title-24" style="color: #B6FFFA;">Convert your startup to the new standard</h3>
        
        <h1 class="brn-header-subtitle mob-title-40">Web 2.0 → Web 3.0</h1>
            </div>
        </div>
    </div>
</div>

    
      <section class="container container-for-nav-items">
    <div class="onboarding-header brn-text-position mob-text-position">
        <div class="brn-header-info column gap mob-text">
            
        <h3 class="brn-title-700">
            Select a project to preview what technologies it uses</h3>
        </div>
        </div>
          
          <div class="icons-scroll" #iconsContainer>
  <img *ngFor="let icon of icons; let i = index" 
       [src]="icon.src" 
       class="icon-for-web3 icon-scroll" 
       [class.selected]="selectedIconIndex === i"
       (click)="selectIcon(i)">
  </div>

<div class="view-text-of-icon">
  <p *ngIf="selectedIconIndex !== null">{{ icons[selectedIconIndex].text }}</p>
</div>
          
          
    </section>
    
    
    <section class="container padding-container-for-web3">
    
    
    <div class="web3-static-wrapper">
        
        
            <p class="brn-text-10 mob-web3-title" style="color: #B6FFFA;">web 2.0</p>
            
    <div class="web3-static-column">
    <div class="web3-static-first-block brn-text-10">web 2.0</div>    
    
       <div class="web3-static-block">
        <img src="/assets/img/l1.png" class="">
        <p class="brn-text-12">Meta Ads (3B)</p>    
        </div>
        
       <div class="web3-static-block block3 mob-block3">
        <img src="/assets/img/l2.png" class="">
        <p class="brn-text-12">Instagram (2.5B)</p>    
        </div>    
        
        <div class="web3-static-block">
        <img src="/assets/img/l3.png" class="">
        <p class="brn-text-12">Messenger (1.3B)</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/l4.png" class="">
        <p class="brn-text-12">Telegram (0.8B)</p>    
        </div>
        
        <div class="web3-static-block block1 mob-block2">
        <img src="/assets/img/l5.png" class="">
        <p class="brn-text-12">Discord (0.5B)</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/l6.png" class="">
        <p class="brn-text-12">X (0.3B)</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/l7.png" class="">
        <p class="brn-text-12">TikTok Ads (1.7B)</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/l8.png" class="">
        <p class="brn-text-12">WhatsApp (3B)</p>    
        </div>
        
        <div class="web3-static-block block2 block3 mob-block2 mob-block3">
        <img src="/assets/img/l9.png" class="">
        <p class="brn-text-12">Web & Mobile Applications</p>    
        </div>
        
        
        </div>  
        
        
        
       
        <p class="brn-text-10 mob-web3-title" style="color: #B6FFFA;">agents</p>
        
        <div class="web3-static-column">
    <div class="web3-static-first-block brn-text-10">agents</div>    
    
       <div class="web3-static-block block2 block3">
        <img src="/assets/img/ll1.svg" class="">
        <p class="brn-text-12">Fundr</p>    
        </div>
        
       <div class="web3-static-block">
        <img src="/assets/img/ll2.svg" class="">
        <p class="brn-text-12">AnyStore</p>    
        </div>    
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/ll3.svg" class="">
        <p class="brn-text-12">Fan2Sell</p>    
        </div>
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/ll4.svg" class="">
        <p class="brn-text-12">Fan2Scale</p>    
        </div>
        
        <div class="web3-static-block block3">
        <img src="/assets/img/ll5.svg" class="">
        <p class="brn-text-12">Social Media Seller</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/ll6.svg" class="">
        <p class="brn-text-12">AI DataDialoger</p>    
        </div>
        
        <div class="web3-static-block block1">
        <img src="/assets/img/ll7.svg" class="">
        <p class="brn-text-12">AI VisionVerse</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/ll8.svg" class="">
        <p class="brn-text-12">AI Butler</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/ll9.svg" class="">
        <p class="brn-text-12">Custom Agent Development</p>    
        </div>
        </div>    
       
        
        
        
        
        <p class="brn-text-10 mob-web3-title" style="color: #B6FFFA;">payments</p>
        
         <div class="web3-static-column">
    <div class="web3-static-first-block brn-text-10">payments</div>    
    
       <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/lll1.png" class="">
        <p class="brn-text-12">Crypto</p>    
        </div>
        
       <div class="web3-static-block block3">
        <img src="/assets/img/lll2.png" class="">
        <p class="brn-text-12">Stripe</p>    
        </div>    
        
        <div class="web3-static-block block1">
        <img src="/assets/img/lll3.png" class="">
        <p class="brn-text-12">Paypal</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/lll4.png" class="">
        <p class="brn-text-12">PLAID</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/lll5.png" class="">
        <p class="brn-text-12">Klarna</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/lll6.png" class="">
        <p class="brn-text-12">Visa</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/lll7.png" class="">
        <p class="brn-text-12">Mastercard</p>    
        </div>
        
        <div class="web3-static-block block2">
        <img src="/assets/img/lll8.png" class="">
        <p class="brn-text-12">NFTpay</p>    
        </div>
        
        <div class="web3-static-block block1">
        <img src="/assets/img/lll9.png" class="">
        <p class="brn-text-12">Crossmint</p>    
        </div>
        </div>    
       
        
        
      
        <p class="brn-text-10 mob-web3-title" style="color: #B6FFFA;">modules</p>
            
        <div class="web3-static-column">
    <div class="web3-static-first-large-block brn-text-10">modules</div>   
            
        <div class="web-static-row"> 
    <div class="web3-static-column">
       <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y1.svg" class="">
        <p class="brn-text-12">Flexible Marketplace</p>    
        </div>
        
       <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y2.svg" class="">
        <p class="brn-text-12">Crypto Wallet Manager</p>    
        </div>    
        
        <div class="web3-static-block">
        <img src="/assets/img/y3.svg" class="">
        <p class="brn-text-12">Access Management</p>    
        </div>
        
        <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y4.svg" class="">
        <p class="brn-text-12">Fiat and Crypto Payments</p>    
        </div>
        
        <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y5.svg" class="">
        <p class="brn-text-12">Operations Dashboard</p>    
        </div>
        
        <div class="web3-static-block block3">
        <img src="/assets/img/y6.svg" class="">
        <p class="brn-text-12">Natural Lang. Processing</p>    
        </div>
        
        <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y7.svg" class="">
        <p class="brn-text-12">Blockchain Operations</p>    
        </div>
        
        <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y8.svg" class="">
        <p class="brn-text-12">Customer Relationships</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/y9.svg" class="">
        <p class="brn-text-12">Shopify Connect</p>   
        </div>
            </div> 
            
        <div class="web3-static-column">
        
        <div class="web3-static-block">
        <img src="/assets/img/y10.svg" class="">
        <p class="brn-text-12">Sales Funnel Management</p>    
        </div>
        
       <div class="web3-static-block block3">
        <img src="/assets/img/y11.svg" class="">
        <p class="brn-text-12">NFT Encoding and Decoding</p>    
        </div>    
        
        <div class="web3-static-block block3">
        <img src="/assets/img/y12.svg" class="">
        <p class="brn-text-12">Chatbot Sales</p>    
        </div>
        
        <div class="web3-static-block block3">
        <img src="/assets/img/y13.svg" class="">
        <p class="brn-text-12">Token Based Marketing</p>    
        </div>
        
        <div class="web3-static-block block1 block3">
        <img src="/assets/img/y14.svg" class="">
        <p class="brn-text-12">Business Flow Editor</p>    
        </div>
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/y15.svg" class="">
        <p class="brn-text-12">Social Media NFT Minting</p>    
        </div>
        
        <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/y16.svg" class="">
        <p class="brn-text-12">Multichannel User Interface</p>    
        </div>
        
        <div class="web3-static-block block1">
        <img src="/assets/img/y17.svg" class="">
        <p class="brn-text-12">Generative AI Integrations</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/y18.svg" class="">
        <p class="brn-text-12">Ads Manager</p>   
        </div>
        </div>
            </div>
        </div>    
       
        
        
        <p class="brn-text-10 mob-web3-title" style="color: #B6FFFA;">web 3.0</p>
            
         <div class="web3-static-column">
    <div class="web3-static-first-block brn-text-10">web 3.0</div>    
    
       <div class="web3-static-block">
        <img src="/assets/img/l01.svg" class="">
        <p class="brn-text-12">Ethereum</p>    
        </div>
        
       <div class="web3-static-block block1 block2 block3">
        <img src="/assets/img/l02.svg" class="">
        <p class="brn-text-12">Polygon</p>    
        </div>    
        
        <div class="web3-static-block">
        <img src="/assets/img/l03.svg" class="">
        <p class="brn-text-12">NEAR</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/l04.svg" class="">
        <p class="brn-text-12">Solana</p>    
        </div>
        
        <div class="web3-static-block">
        <img src="/assets/img/l05.svg" class="">
        <p class="brn-text-12">BNB Chain</p>    
        </div>
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/l06.svg" class="">
        <p class="brn-text-12">Moralis</p>    
        </div>
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/l07.svg" class="">
        <p class="brn-text-12">Wallet Connect</p>    
        </div>
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/l08.svg" class="">
        <p class="brn-text-12">MetaMask</p>    
        </div>
        
        <div class="web3-static-block block2 block3">
        <img src="/assets/img/l09.svg" class="">
        <p class="brn-text-12">OpenSea</p>    
        </div>
        
        
        </div>  
       
        
        </div>
        
        
    </section>
    
    
    
<div class="container container-for-settings"><app-footer></app-footer>
</div>    
</div>