.web2-breaker{
    background-image: url(/assets/img/breaker4.svg);
    height: 420px;
    align-items: center;
    background-size: cover;
    padding-top: 150px;

     @media all and (max-width: 768px){
        height: auto;
         background-size: auto;
         padding-top: 0;
        padding-bottom: 25px;
    }
    
}


.icons-scroll{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    
    
    @media all and (max-width: 768px){
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    justify-content: normal;
    }
}


.icons-scroll::-webkit-scrollbar {
  width: 12px; 
}

.icons-scroll::-webkit-scrollbar-track {
  background-color: transparent; 
}

.icons-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.icon-for-web3{
  //  width: 240px;
    opacity: 1;
}

.icons-scroll{
    cursor: pointer;
}


.web3-static-block{
    display: flex;
    width: 200px;
    height: 64px;
    padding: 20px 15px;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.05);
    //opacity: 1;
    
    @media all and (max-width: 768px){
        display: flex;
        width: 240px;
        align-items: center;
        gap: 15px;
        flex-shrink: 0;
    }
}


.web3-static-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
   // padding-top: 60px;
    
    @media all and (max-width: 768px){
        justify-content: normal;
       // padding-top: 10px;
    }
    
    
}


.web3-static-column{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    @media all and (max-width: 768px){
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
}



.web3-static-column::-webkit-scrollbar {
  width: 12px; 
}

.web3-static-column::-webkit-scrollbar-track {
  background-color: transparent; 
}

.web3-static-column::-webkit-scrollbar-thumb {
  background-color: transparent;
}


.web3-static-first-block{
    display: flex;
    width: 200px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    
    border: 1px solid #B6FFFA;
    background: #0A0909;
    
    @media all and (max-width: 768px){
        display: none;
    }
}

.web3-static-first-large-block{
    display: flex;
    width: 405px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #B6FFFA;
    background: #0A0909;
    
    @media all and (max-width: 768px){
        display: none;
    }
}


.mob-web3-title{
    display: none;
    
    @media all and (max-width: 768px){
        display: flex;
        padding: 5px;
        gap: 10px;
    }
}




.brn-text--16{
    color: #FFF;
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; 
}


.view-text-of-icon{
    
    width: 815px;
    padding-top: 40px;
    margin: 0 auto;
    text-align: center;
    
    @media all and (max-width: 768px){
        width: auto;
        text-align: inherit;
    }
}

.icon-for-web3:not(.selected) {
  opacity: 1;
  transition: all 0.2s ease;
}

.web3-static-block:not(.selected) {
  opacity: 1;
  transition: all 0.2s ease;
}


