.web-breaker{
    background-image: url(/assets/img/breaker4.svg);
    height: 537px;
    align-items: center;
    background-size: cover;
    padding-top: 150px;

     @media all and (max-width: 768px){
        height: auto;
        background-size: auto;
        padding-bottom: 25px;
         padding-top: 0;
    }
    
}


.web-custom-breaker{
    background-image: url(/assets/img/web-breaker.svg);
    display: flex;
    height: 720px;
    align-items: center;
  //  gap: -72px;
    background-size: cover;
    
}

.web-position{
    gap: 40px;
    display: flex;
    flex-direction: column;
    
}

.web-position-mob{
    
    @media all and (max-width: 768px){
        gap: 40px;
        display: flex;
        flex-direction: column;
    }
}

.web---icon{
    width: 128px;
    height: 128px;
    margin: 0 auto;
    
    @media all and (max-width: 768px){
        width: 128px;
        height: 128px;
    }
}

.web-btn{
    margin: 0 auto;
}