<div class="wrapper">
<app-navigation-menu></app-navigation-menu>


    <section class="container">
        <div class="agents-menu-padding">
    <div class="brn-block">
        <div class="brn-info brn-navbar-item column">
            
            <div class="column gap">
        <h3 class="brn-title">AI VisionVerse</h3>
        <p class="brn-text">
            From Text to Cinematics.
Transform your narratives into dynamic, immersive videos effortlessly.</p>
            </div>
            
            <ul class="brn-list">
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
               Effortless Video Generation: Input your text and watch it come alive as a cinematic masterpiece, saving countless hours of manual video production.</li>
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                
                Dynamic Adaptation: Uses advanced algorithms to match mood, tone, and context from your text to create videos that resonate with your intended message.</li>
                
            <li class="brn-marker"><img class="brn-marker-logo" src="/assets/img/solar_check-circle-linear.svg">
                 Real-time Previews: Fine-tune your content on the fly with instant video previews, ensuring your final product aligns perfectly with your vision.</li>
            </ul>
            
            <button class="brn-btn position-brn-info" routerLink="/contacts">Try it now!</button>
            
        </div>
        
        <div class="agents-images">
            <img class="img-settings agents-images" src="/assets/img/minting.jpg">
        </div>
        
            </div></div>
    
    </section>
    
    <div class="container container-for-settings2"><app-footer></app-footer></div>
    
</div>
