<div class="wrapper-for-menu"  (mouseleave)="onMenuLeave()">
  <div class="triangle"><img src="/assets/img/Polygon.png"></div>

  <div *ngIf="isOnboardingMenuOpen" class="onboarding-menu">
    <div class="onboarding-links">
      <a class="mob-onboarding-btn onboarding-link" (click)="closeMenu()">
        <img src="/assets/img/f3.svg" class="onboarding-logo">Back
      </a>

      <a class="onboarding-link" [ngClass]="{'selected': isActive('/onboarding/futureofsports')}" routerLink="/onboarding/futureofsports">
        <img src="/assets/img/basketball.svg" class="onboarding-main-icon">Sports
      </a>

      <a class="onboarding-link" [ngClass]="{'selected': isActive('/onboarding/musicweb3')}" routerLink="/onboarding/musicweb3">
        <img src="/assets/img/music.svg" class="onboarding-main-icon">MusicWeb3
      </a>

      <a class="onboarding-link" [ngClass]="{'selected': isActive('/onboarding/futureofentertainment')}" routerLink="/onboarding/futureofentertainment">
        <img src="/assets/img/carbon_dashboard.svg" class="onboarding-main-icon">Entertainment
      </a>
    </div>
  </div>
</div>
