.footer-landing{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 20px;
    
    @media all and (max-width: 768px){
        padding: 65px 0 50px;
    }

}

.footer-landing-icon{
    width: 80px;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
    right: 0;
    top: 37px;
    
    @media all and (max-width:768px){
        width: 60px;
        top: 0px;
        margin: 20px;
    }
}

.footer-landing-position{
    position: relative;
}

 ol.custom-counter {
    list-style-type: none;
    counter-reset: item;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li.custom-counter:before {
    content: "" counter(item, upper-alpha) ") ";
    counter-increment: item;
    color: #fff;
    
  }

.href-landing{
    color: #fff;
}

.contact-landing{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 5px;
}

.header-landing{
    padding-bottom: 30px;
    
    @media all and (max-width: 768px){
        padding-bottom: 20px;
    }
}

.footer-img-info{
    width: 280px;
    
    @media all and (max-width: 768px){
        width: 240px;
    }
}